In [1]:
import pandas as pd

Loading in Annual Performance APRA data

In [2]:
excel_file_path = 'Annual Performance.xlsx'

all_dfs = pd.read_excel(excel_file_path, sheet_name=None)

In [3]:
# Display the keys (worksheet names) in the dictionary
print("Worksheet names:", list(all_dfs.keys()))

Worksheet names: ['Cover', 'Notes', 'Contents', 'Important Notice', 'Table 1', 'Table 2a', 'Table 2b', 'Table 3a', 'Table 3b', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Table 8', 'Table 9', 'Table 10', 'Table 11', 'Table 12', 'Table 13', 'Revisions', 'Explanatory Notes', 'Table 14']

In [4]:
# Access a specific dataframe by its worksheet name
financial_performance = all_dfs['Table 3a']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
fees = all_dfs['Table 6']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
fund_profile = all_dfs['Table 2a']  # Change 'Sheet1' to the actual worksheet name

Cleaning Annual Performance APRA data

In [5]:
# Extract the header row (Row 3)
new_index_row = financial_performance.iloc[3]

# Drop rows 0 to 2 and 4 to 6
financial_performance = financial_performance.iloc[7:]

# Set the header row as the column names
financial_performance.columns = new_index_row

# Reset the index to the default numeric index
financial_performance.reset_index(drop=True, inplace=True)

financial_performance

3,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Advice expenses,of which: associated with intrafund advice,Net earnings,Income tax expense / benefit,Net earnings after tax,Cash flow adjusted net assets,Total assets at the end of period,Total liabilities at the end of period,Net assets at the end of period,One-year\nrate of return
0,2022-06-30 00:00:00,Centric Super Fund,91593544166,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
1,2022-06-30 00:00:00,Colonial First State Rollover & Superannuation...,88854638840,Public offer,Retail,General base,Avanteos Investments Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
2,2022-06-30 00:00:00,Heidelberg Australia Superannuation Fund,75071229817,Non public offer,Retail,Corporate base,Towers Watson Superannuation Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
3,2022-06-30 00:00:00,Holden Employees Superannuation Fund,77289319006,Non public offer,Corporate,Corporate base,Holden Employees Superannuation Fund Pty Ltd,Financial services corporation ownership,Not for profit status,Equal representation required by legislation,...,*,*,*,*,*,*,*,*,*,*
4,2022-06-30 00:00:00,Energy Industries Superannuation Scheme-Pool B,64322090181,Non public offer,Public Sector,Industry base,Energy Industries Superannuation Scheme Pty Ltd,Nominating organisation ownership,Not for profit status,Equal representation required by governing rules,...,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6098,2004-06-30 00:00:00,Your Prosperity Superannuation Trust,44343895075,Public offer,Retail,NaN,Your Prosperity Limited,NaN,NaN,NaN,...,NaN,NaN,12813,495,12318,75767,556,0,556,0.163
6099,2004-06-30 00:00:00,Zamels Executive Superannuation Fund,80920618790,Non public offer,Corporate,NaN,Zamels Executive Superannuation Fund,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6100,2004-06-30 00:00:00,Zappala Family Superannuation Fund,32660078958,Non public offer,Corporate,NaN,Zappala Family Superannuation Fund,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6101,2004-06-30 00:00:00,Zurich Group Superannuation Fund,73289096281,Non public offer,Retail,NaN,HTFS Nominees Pty Ltd,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6102,2004-06-30 00:00:00,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,NaN,HTFS Nominees Pty Ltd,NaN,NaN,NaN,...,NaN,NaN,226760,-4313,231073,2135089,2318358,15674,2302684,0.108

In [6]:
# Set Row 5 as the new column headers
fees.columns = fees.iloc[5]

# Drop rows 0 to 4 and rows 6 to 7
fees = fees.iloc[8:]

# Reset the index to the default numeric index
fees.reset_index(drop=True, inplace=True)

# Display the updated dataframe
fees

5,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Other,Total other fees paid,Other fees paid as a proportion of total fees paid,Member,Employer sponsor,Reserve,RSE licensee,Other,Total activity fees paid,Activity fees paid as a proportion of total fees paid
0,2022-06-30 00:00:00,Alcoa of Australia Retirement Plan,80928800255,Non public offer,Corporate,Corporate base,Alcoa of Australia Retirement Plan Pty Ltd,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,0
1,2022-06-30 00:00:00,AMG Super,30099320583,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,6721,NaN,NaN,NaN,NaN,6721,0.4
2,2022-06-30 00:00:00,AMP Super Fund,78421957449,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33320,33320,0.13
3,2022-06-30 00:00:00,ANZ Australian Staff Superannuation Scheme,83810127567,Non public offer,Corporate,Corporate base,ANZ Staff Superannuation (Australia) Pty. Limited,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,20,0
4,2022-06-30 00:00:00,Aracon Superannuation Fund,40586548205,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,459,918,0.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2014-06-30 00:00:00,Wealth Personal Superannuation and Pension Fund,92381911598,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,30810,0.12,129159,NaN,NaN,NaN,NaN,129159,0.51
1471,2014-06-30 00:00:00,Westpac Mastertrust - Superannuation Division,81236903448,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,2014-06-30 00:00:00,Westpac Personal Superannuation Fund,36369876939,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,2014-06-30 00:00:00,Worsley Alumina Superannuation Fund,51469547458,Non public offer,Retail,Corporate base,PFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,0
1474,2014-06-30 00:00:00,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,General base,HTFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,1379,NaN,NaN,NaN,NaN,1379,0.06

In [7]:
# Extract the desired index row (Row 3)
new_index_row = fund_profile.iloc[3]

# Drop rows 0 to 2 and rows 4 to 5
fund_profile = fund_profile.iloc[6:]

# Set the column names using the values from Row 3
fund_profile.columns = new_index_row

# Reset the index to the default numeric index
fund_profile.reset_index(drop=True, inplace=True)

# Display the updated dataframe
fund_profile

3,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Net members' benefits outflow ratio,Investment expenses ratio,Operating expense ratio,One-year\nrate of return,Five-year\nrate of return,Ten-year\nrate of return,Total number of member accounts,Total members' benefits,Average member account balance,Growth in number of member accounts
0,2022-06-30 00:00:00,Alcoa of Australia Retirement Plan,80928800255,Non public offer,Corporate,Corporate base,Alcoa of Australia Retirement Plan Pty Ltd,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,2.643,0.002,0.002,-0.02,0.0498,0.071711,5224,2124186,407,-0.02
1,2022-06-30 00:00:00,AMG Super,30099320583,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.562,0,0.006,-0.072,0.04035,0.052548,14955,1534284,103,-0.04
2,2022-06-30 00:00:00,AMP Super Fund,78421957449,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,2.179,0.004,0.003,-0.054,0.06047,0.06345,743911,54650453,73,-0.13
3,2022-06-30 00:00:00,Aracon Superannuation Fund,40586548205,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.392,0.001,0.002,-0.068,0.03226,0.051596,2865,591685,207,0.4
4,2022-06-30 00:00:00,ASGARD Independence Plan Division Two,90194410365,Public offer,Retail,General base,BT Funds Management Limited,Financial services corporation ownership,For profit status,Non equal representation,...,5.811,0.001,0.008,-0.056,0.04444,0.059989,94715,16706625,176,-0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,2014-06-30 00:00:00,Wealth Personal Superannuation and Pension Fund,92381911598,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.47,0,0.006,0.106,0.06243,NaN,NaN,NaN,NaN,NaN
1497,2014-06-30 00:00:00,Westpac Mastertrust - Superannuation Division,81236903448,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,1.52,0,0.003,0.095,0.07412,0.04699,NaN,NaN,NaN,NaN
1498,2014-06-30 00:00:00,Westpac Personal Superannuation Fund,36369876939,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,NaN,NaN,NaN,NaN
1499,2014-06-30 00:00:00,Worsley Alumina Superannuation Fund,51469547458,Non public offer,Retail,Corporate base,PFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,0.651,0.002,0.001,0.087,0.08222,0.07497,NaN,NaN,NaN,NaN
1500,2014-06-30 00:00:00,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,General base,HTFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,1.98,0.013,0.002,0.109,0.07701,0.05663,NaN,NaN,NaN,NaN

Load in Merger List

In [14]:
excel_file_path = 'Merged SF Annual Data.xlsx'

all_dfs = pd.read_excel(excel_file_path, sheet_name=None)

In [15]:
# Display the keys (worksheet names) in the dictionary
print("Worksheet names:", list(all_dfs.keys()))

Worksheet names: ['Annual', 'Quarterly', 'Merger List']

In [16]:
merger_list = all_dfs['Merger List']

master_list = all_dfs['Annual']

In [17]:
master_list

,Period,Fund name,ABN,Merger,Merged,Acquirer
0,2010-06-30,Westscheme,68559391482,0,1,AustralianSuper
1,2010-06-30,Health Super Fund,88293440675,0,1,Aware Super
2,2010-06-30,Connect Superannuation Plan,93419175950,0,1,CONSTRUCTION AND BUILDING UNIONS SUPERANNUATIO...
3,2011-06-30,Brisbane City Council Superannuation Plan,32864248795,0,1,LGIAsuper
4,2012-06-30,Local Government Superannuation Scheme,92930911098,0,1,Statewide Superannuation Trust
...,...,...,...,...,...,...
1106,2022-06-30,AustralianSuper,65714394898,0,0,NaN
1107,2022-06-30,AustralianSuper,65714394898,1,0,NaN
1108,2022-06-30,AustralianSuper,65714394898,1,0,NaN
1109,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN
1110,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN

Removing repeat observations from merger list, but keeping merger dummy variables

In [18]:
# Sort the dataframe by 'Merger' column in descending order
master_list.sort_values(by='Merger', ascending=False, inplace=True)

# Drop duplicate rows based on 'Period', 'Fund Name', and 'ABN'
master_list.drop_duplicates(subset=['Period', 'Fund name', 'ABN'], keep='first', inplace=True)

# Reset the index
master_list.reset_index(drop=True, inplace=True)

# Display the updated dataframe
print(master_list)

        Period                                          Fund name  \
0   2022-06-30                        Australian Retirement Trust
1   2021-06-30                                         equipsuper
2   2019-06-30                                 Smart Future Trust
3   2019-06-30                   Russell Investments Master Trust
4   2011-06-30                                        Aware Super
..         ...                                                ...
745 2009-06-30                   Russell Investments Master Trust
746 2009-06-30                Rio Tinto Staff Superannuation Fund
747 2009-06-30                       Retirement Portfolio Service
748 2009-06-30  Reserve Bank of Australia Officers Superannuat...
749 2009-06-30  Queensland Independent Education & Care Supera...

             ABN  Merger  Merged Acquirer
0    60905115063       1       0      NaN
1    33813823017       1       0      NaN
2    68964712340       1       0      NaN
3    89384753567       1       0      NaN
4    53226460365       1       0      NaN
..           ...     ...     ...      ...
745  89384753567       0       0      NaN
746  98438661856       0       0      NaN
747  61808189263       0       0      NaN
748  25303030489       0       0      NaN
749  15549636673       0       0      NaN

[750 rows x 6 columns]

In [19]:
master_list

,Period,Fund name,ABN,Merger,Merged,Acquirer
0,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN
1,2021-06-30,equipsuper,33813823017,1,0,NaN
2,2019-06-30,Smart Future Trust,68964712340,1,0,NaN
3,2019-06-30,Russell Investments Master Trust,89384753567,1,0,NaN
4,2011-06-30,Aware Super,53226460365,1,0,NaN
...,...,...,...,...,...,...
745,2009-06-30,Russell Investments Master Trust,89384753567,0,0,NaN
746,2009-06-30,Rio Tinto Staff Superannuation Fund,98438661856,0,0,NaN
747,2009-06-30,Retirement Portfolio Service,61808189263,0,0,NaN
748,2009-06-30,Reserve Bank of Australia Officers Superannuat...,25303030489,0,0,NaN
749,2009-06-30,Queensland Independent Education & Care Supera...,15549636673,0,0,NaN

In [20]:
# Filter the dataframe to rows containing 'Aware Super' in 'Fund Name'
aware_super_rows = master_list[master_list['Fund name'].str.contains('Aware Super', case=False)]

# Display the filtered dataframe
print(aware_super_rows)

        Period    Fund name          ABN  Merger  Merged Acquirer
4   2011-06-30  Aware Super  53226460365       1       0      NaN
8   2021-06-30  Aware Super  53226460365       1       0      NaN
14  2020-06-30  Aware Super  53226460365       1       0      NaN
21  2018-06-30  Aware Super  53226460365       1       0      NaN
47  2014-06-30  Aware Super  53226460365       0       0      NaN
91  2015-06-30  Aware Super  53226460365       0       0      NaN
122 2012-06-30  Aware Super  53226460365       0       0      NaN
160 2013-06-30  Aware Super  53226460365       0       0      NaN
222 2019-06-30  Aware Super  53226460365       0       0      NaN
251 2022-06-30  Aware Super  53226460365       0       0      NaN
304 2016-06-30  Aware Super  53226460365       0       0      NaN
333 2017-06-30  Aware Super  53226460365       0       0      NaN
434 2006-06-30  Aware Super  53226460365       0       0      NaN
576 2010-06-30  Aware Super  53226460365       0       0      NaN
581 2007-06-30  Aware Super  53226460365       0       0      NaN
662 2008-06-30  Aware Super  53226460365       0       0      NaN
703 2009-06-30  Aware Super  53226460365       0       0      NaN

_____________________________________________________________________

**Creating sub-sets for firms that have merged and firms that have not merged**

In [21]:
# Convert the 'Period' column in 'master_list' dataframe to datetime
master_list['Period'] = pd.to_datetime(master_list['Period'])

In [22]:
# Convert the 'Period' column to datetime
financial_performance['Period'] = pd.to_datetime(financial_performance['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
financial_performance_merged = pd.merge(master_list, financial_performance, on=['Period', 'Fund name', 'ABN'], how='inner')

# Create a key column in both DataFrames for easier comparison
financial_performance['key'] = financial_performance['Period'].astype(str) + financial_performance['Fund name'].astype(str) + financial_performance['ABN'].astype(str)
financial_performance_merged['key'] = financial_performance_merged['Period'].astype(str) + financial_performance_merged['Fund name'].astype(str) + financial_performance_merged['ABN'].astype(str)

# Identify non-merged funds
financial_performance_non_merged = financial_performance[~financial_performance['key'].isin(financial_performance_merged['key'])]

# Drop the key column as it's no longer needed
financial_performance.drop(columns=['key'], inplace=True)
financial_performance_merged.drop(columns=['key'], inplace=True)
financial_performance_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66316/2062718529.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  financial_performance_non_merged.drop(columns=['key'], inplace=True)

In [23]:
financial_performance_merged

,Period,Fund name,ABN,Merger,Merged,Acquirer,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,...,Advice expenses,of which: associated with intrafund advice,Net earnings,Income tax expense / benefit,Net earnings after tax,Cash flow adjusted net assets,Total assets at the end of period,Total liabilities at the end of period,Net assets at the end of period,One-year\nrate of return
0,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN,Public offer,Industry,General base,Australian Retirement Trust Pty Ltd,...,42161,23089,-9115195,-1301465,-7813730,165338555,247360562,15675526,231685036,-0.047
1,2021-06-30,equipsuper,33813823017,1,0,NaN,Public offer,Industry,General base,Togethr Trustees Pty Ltd,...,14472,13263,2688188,246817,2441371,21826157,33898889,3423049,30475840,0.112
2,2019-06-30,Smart Future Trust,68964712340,1,0,NaN,Public offer,Retail,General base,Equity Trustees Superannuation Limited,...,4083,1742,466859,-8996,475855,4111871,5415697,116759,5298938,0.116
3,2019-06-30,Russell Investments Master Trust,89384753567,1,0,NaN,Public offer,Retail,Corporate base,Total Risk Management Pty Limited,...,481,0,531971,-8117,540088,8800806,9483982,53085,9430897,0.061
4,2011-06-30,Aware Super,53226460365,1,0,NaN,Public offer,Public Sector,NaN,Aware Super Pty Ltd,...,NaN,NaN,1503454,74550,1428904,19470018,31834796,549184,31285612,0.073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,2009-06-30,Russell Investments Master Trust,89384753567,0,0,NaN,Public offer,Retail,NaN,Total Risk Management Pty Limited,...,NaN,NaN,-413161,-3015,-410146,3464428,3154294,18761,3135533,-0.118
746,2009-06-30,Rio Tinto Staff Superannuation Fund,98438661856,0,0,NaN,Non public offer,Corporate,NaN,Rio Tinto Staff Fund Pty Limited,...,NaN,NaN,-344964,-42401,-302563,2521276,2363382,4832,2358550,-0.12
747,2009-06-30,Retirement Portfolio Service,61808189263,0,0,NaN,Public offer,Retail,NaN,OnePath Custodians Pty Limited,...,NaN,NaN,-124110,-8970,-115140,1096772,948755,-4582,953337,-0.105
748,2009-06-30,Reserve Bank of Australia Officers Superannuat...,25303030489,0,0,NaN,Non public offer,Public Sector,NaN,The Trustees for Licence L0002462,...,NaN,NaN,-128316,-14217,-114099,891911,775220,2048,773172,-0.128
749,2009-06-30,Queensland Independent Education & Care Supera...,15549636673,0,0,NaN,Non public offer,Industry,NaN,QIEC Super Pty Ltd,...,NaN,NaN,-75333,-10139,-65194,507920,468729,2259,466470,-0.128

In [24]:
financial_performance_non_merged

3,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Advice expenses,of which: associated with intrafund advice,Net earnings,Income tax expense / benefit,Net earnings after tax,Cash flow adjusted net assets,Total assets at the end of period,Total liabilities at the end of period,Net assets at the end of period,One-year\nrate of return
0,2022-06-30,Centric Super Fund,91593544166,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
1,2022-06-30,Colonial First State Rollover & Superannuation...,88854638840,Public offer,Retail,General base,Avanteos Investments Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
2,2022-06-30,Heidelberg Australia Superannuation Fund,75071229817,Non public offer,Retail,Corporate base,Towers Watson Superannuation Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,*,*,*,*
3,2022-06-30,Holden Employees Superannuation Fund,77289319006,Non public offer,Corporate,Corporate base,Holden Employees Superannuation Fund Pty Ltd,Financial services corporation ownership,Not for profit status,Equal representation required by legislation,...,*,*,*,*,*,*,*,*,*,*
4,2022-06-30,Energy Industries Superannuation Scheme-Pool B,64322090181,Non public offer,Public Sector,Industry base,Energy Industries Superannuation Scheme Pty Ltd,Nominating organisation ownership,Not for profit status,Equal representation required by governing rules,...,*,*,*,*,*,*,*,*,*,*
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6098,2004-06-30,Your Prosperity Superannuation Trust,44343895075,Public offer,Retail,NaN,Your Prosperity Limited,NaN,NaN,NaN,...,NaN,NaN,12813,495,12318,75767,556,0,556,0.163
6099,2004-06-30,Zamels Executive Superannuation Fund,80920618790,Non public offer,Corporate,NaN,Zamels Executive Superannuation Fund,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6100,2004-06-30,Zappala Family Superannuation Fund,32660078958,Non public offer,Corporate,NaN,Zappala Family Superannuation Fund,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6101,2004-06-30,Zurich Group Superannuation Fund,73289096281,Non public offer,Retail,NaN,HTFS Nominees Pty Ltd,NaN,NaN,NaN,...,NaN,NaN,*,*,*,*,*,*,*,*
6102,2004-06-30,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,NaN,HTFS Nominees Pty Ltd,NaN,NaN,NaN,...,NaN,NaN,226760,-4313,231073,2135089,2318358,15674,2302684,0.108

In [25]:
# Convert the 'Period' column to datetime
fees['Period'] = pd.to_datetime(fees['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
fees_merged = pd.merge(master_list, fees, on=['Period', 'Fund name', 'ABN'], how='inner')

# Create a key column in both DataFrames for easier comparison
fees['key'] = fees['Period'].astype(str) + fees['Fund name'].astype(str) + fees['ABN'].astype(str)
fees_merged['key'] = fees_merged['Period'].astype(str) + fees_merged['Fund name'].astype(str) + fees_merged['ABN'].astype(str)

# Identify non-merged funds
fees_non_merged = fees[~fees['key'].isin(fees_merged['key'])]

# Drop the key column as it's no longer needed
fees.drop(columns=['key'], inplace=True)
fees_merged.drop(columns=['key'], inplace=True)
fees_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66316/1013754080.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fees_non_merged.drop(columns=['key'], inplace=True)

In [26]:
fees_merged

,Period,Fund name,ABN,Merger,Merged,Acquirer,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,...,Other,Total other fees paid,Other fees paid as a proportion of total fees paid,Member,Employer sponsor,Reserve,RSE licensee,Other,Total activity fees paid,Activity fees paid as a proportion of total fees paid
0,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN,Public offer,Industry,General base,Australian Retirement Trust Pty Ltd,...,NaN,294,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-06-30,equipsuper,33813823017,1,0,NaN,Public offer,Industry,General base,Togethr Trustees Pty Ltd,...,NaN,800,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-06-30,Smart Future Trust,68964712340,1,0,NaN,Public offer,Retail,General base,Equity Trustees Superannuation Limited,...,NaN,478,0.01,1632,NaN,NaN,NaN,NaN,1632,0.03
3,2019-06-30,Russell Investments Master Trust,89384753567,1,0,NaN,Public offer,Retail,Corporate base,Total Risk Management Pty Limited,...,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,4,0
4,2019-06-30,NGS Super,73549180515,1,0,NaN,Public offer,Industry,Industry base,NGS Super Pty Limited,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2021-06-30,Labour Union Co-Operative Retirement Fund,26382680883,0,1,AustralianSuper,Public offer,Industry,Industry base,L.U.C.R.F. Pty. Ltd.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2021-06-30,Intrust Super Fund,65704511371,0,1,HOSTPLUS Superannuation Fund,Public offer,Industry,Industry base,IS INDUSTRY FUND PTY LTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2021-06-30,Energy Super,33761363685,0,1,LGIAsuper,Public offer,Industry,Industry base,Electricity Supply Industry Superannuation (QL...,...,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,11,0
290,2021-06-30,Club Plus Superannuation Scheme,95275115088,0,1,AustralianSuper,Public offer,Industry,Industry base,Club Plus Superannuation Pty Ltd,...,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2021-06-30,Boc Gases Superannuation Fund,49620344668,0,1,equipsuper,Non public offer,Corporate,Corporate base,BOC Superannuation Pty Ltd,...,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,12,0.01

In [27]:
fees_non_merged

5,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Other,Total other fees paid,Other fees paid as a proportion of total fees paid,Member,Employer sponsor,Reserve,RSE licensee,Other,Total activity fees paid,Activity fees paid as a proportion of total fees paid
0,2022-06-30,Alcoa of Australia Retirement Plan,80928800255,Non public offer,Corporate,Corporate base,Alcoa of Australia Retirement Plan Pty Ltd,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,2,0
1,2022-06-30,AMG Super,30099320583,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,6721,NaN,NaN,NaN,NaN,6721,0.4
2,2022-06-30,AMP Super Fund,78421957449,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33320,33320,0.13
3,2022-06-30,ANZ Australian Staff Superannuation Scheme,83810127567,Non public offer,Corporate,Corporate base,ANZ Staff Superannuation (Australia) Pty. Limited,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,20,0
4,2022-06-30,Aracon Superannuation Fund,40586548205,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,459,918,0.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2014-06-30,Wealth Personal Superannuation and Pension Fund,92381911598,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,30810,0.12,129159,NaN,NaN,NaN,NaN,129159,0.51
1471,2014-06-30,Westpac Mastertrust - Superannuation Division,81236903448,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,2014-06-30,Westpac Personal Superannuation Fund,36369876939,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,2014-06-30,Worsley Alumina Superannuation Fund,51469547458,Non public offer,Retail,Corporate base,PFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,1,0
1474,2014-06-30,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,General base,HTFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,NaN,NaN,NaN,1379,NaN,NaN,NaN,NaN,1379,0.06

In [28]:
# Convert the 'Period' column to datetime
fund_profile['Period'] = pd.to_datetime(fund_profile['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
fund_profile_merged = pd.merge(master_list, fund_profile, on=['Period', 'Fund name', 'ABN'], how='inner')

# Create a key column in both DataFrames for easier comparison
fund_profile['key'] = fund_profile['Period'].astype(str) + fund_profile['Fund name'].astype(str) + fund_profile['ABN'].astype(str)
fund_profile_merged['key'] = fund_profile_merged['Period'].astype(str) + fund_profile_merged['Fund name'].astype(str) + fund_profile_merged['ABN'].astype(str)

# Identify non-merged funds
fund_profile_non_merged = fund_profile[~fund_profile['key'].isin(fund_profile_merged['key'])]

# Drop the key column as it's no longer needed
fund_profile.drop(columns=['key'], inplace=True)
fund_profile_merged.drop(columns=['key'], inplace=True)
fund_profile_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66316/2313513219.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fund_profile_non_merged.drop(columns=['key'], inplace=True)

In [29]:
fund_profile_merged

,Period,Fund name,ABN,Merger,Merged,Acquirer,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,...,Net members' benefits outflow ratio,Investment expenses ratio,Operating expense ratio,One-year\nrate of return,Five-year\nrate of return,Ten-year\nrate of return,Total number of member accounts,Total members' benefits,Average member account balance,Growth in number of member accounts
0,2022-06-30,Australian Retirement Trust,60905115063,1,0,NaN,Public offer,Industry,General base,Australian Retirement Trust Pty Ltd,...,0.063,0.002,0.002,-0.047,0.047,0.071,2216337,224180291,101,2.58
1,2021-06-30,equipsuper,33813823017,1,0,NaN,Public offer,Industry,General base,Togethr Trustees Pty Ltd,...,0.072,0.002,0.001,0.112,0.07787,0.07717,148613,29584840,199,1.09
2,2019-06-30,Smart Future Trust,68964712340,1,0,NaN,Public offer,Retail,General base,Equity Trustees Superannuation Limited,...,0.278,0.001,0.011,0.116,0.08215,0.08278,183662,5212887,28,0.4
3,2019-06-30,Russell Investments Master Trust,89384753567,1,0,NaN,Public offer,Retail,Corporate base,Total Risk Management Pty Limited,...,0.834,0.001,0.003,0.061,0.06506,0.0762,95618,9277851,97,0.36
4,2019-06-30,NGS Super,73549180515,1,0,NaN,Public offer,Industry,Industry base,NGS Super Pty Limited,...,0.241,0.003,0.003,0.068,0.07878,0.07991,117824,11324657,96,0.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2021-06-30,Labour Union Co-Operative Retirement Fund,26382680883,0,1,AustralianSuper,Public offer,Industry,Industry base,L.U.C.R.F. Pty. Ltd.,...,1.304,0.004,0.004,0.178,0.07948,0.0743,133058,7367664,55,0.03
288,2021-06-30,Intrust Super Fund,65704511371,0,1,HOSTPLUS Superannuation Fund,Public offer,Industry,Industry base,IS INDUSTRY FUND PTY LTD,...,1.276,0.003,0.005,0.164,0.08236,0.07833,91888,2969144,32,-0.05
289,2021-06-30,Energy Super,33761363685,0,1,LGIAsuper,Public offer,Industry,Industry base,Electricity Supply Industry Superannuation (QL...,...,0.969,0.005,0.003,0.172,0.078,0.07853,47848,8381633,175,-0.02
290,2021-06-30,Club Plus Superannuation Scheme,95275115088,0,1,AustralianSuper,Public offer,Industry,Industry base,Club Plus Superannuation Pty Ltd,...,1.331,0.004,0.005,0.146,0.0787,0.07181,60407,3096793,51,-0.08
291,2021-06-30,Boc Gases Superannuation Fund,49620344668,0,1,equipsuper,Non public offer,Corporate,Corporate base,BOC Superannuation Pty Ltd,...,2.173,0,0.003,0.133,0.06879,0.07428,2929,764488,261,-0.05

In [30]:
fund_profile_non_merged

3,Period,Fund name,ABN,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,RSE licensee board structure,...,Net members' benefits outflow ratio,Investment expenses ratio,Operating expense ratio,One-year\nrate of return,Five-year\nrate of return,Ten-year\nrate of return,Total number of member accounts,Total members' benefits,Average member account balance,Growth in number of member accounts
0,2022-06-30,Alcoa of Australia Retirement Plan,80928800255,Non public offer,Corporate,Corporate base,Alcoa of Australia Retirement Plan Pty Ltd,Employer sponsor (non-public sector) ownership,Not for profit status,Equal representation required by legislation,...,2.643,0.002,0.002,-0.02,0.0498,0.071711,5224,2124186,407,-0.02
1,2022-06-30,AMG Super,30099320583,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.562,0,0.006,-0.072,0.04035,0.052548,14955,1534284,103,-0.04
2,2022-06-30,AMP Super Fund,78421957449,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,2.179,0.004,0.003,-0.054,0.06047,0.06345,743911,54650453,73,-0.13
3,2022-06-30,Aracon Superannuation Fund,40586548205,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.392,0.001,0.002,-0.068,0.03226,0.051596,2865,591685,207,0.4
4,2022-06-30,ASGARD Independence Plan Division Two,90194410365,Public offer,Retail,General base,BT Funds Management Limited,Financial services corporation ownership,For profit status,Non equal representation,...,5.811,0.001,0.008,-0.056,0.04444,0.059989,94715,16706625,176,-0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,2014-06-30,Wealth Personal Superannuation and Pension Fund,92381911598,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,Non equal representation,...,0.47,0,0.006,0.106,0.06243,NaN,NaN,NaN,NaN,NaN
1497,2014-06-30,Westpac Mastertrust - Superannuation Division,81236903448,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,1.52,0,0.003,0.095,0.07412,0.04699,NaN,NaN,NaN,NaN
1498,2014-06-30,Westpac Personal Superannuation Fund,36369876939,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,Non equal representation,...,*,*,*,*,*,*,NaN,NaN,NaN,NaN
1499,2014-06-30,Worsley Alumina Superannuation Fund,51469547458,Non public offer,Retail,Corporate base,PFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,0.651,0.002,0.001,0.087,0.08222,0.07497,NaN,NaN,NaN,NaN
1500,2014-06-30,Zurich Master Superannuation Fund,33632838393,Public offer,Retail,General base,HTFS Nominees Pty Ltd,Financial services corporation ownership,For profit status,Non equal representation,...,1.98,0.013,0.002,0.109,0.07701,0.05663,NaN,NaN,NaN,NaN

Confirming Merger has worked properly

In [31]:
# Count missing values (NAT) in the "Period" column
missing_count = fund_profile_non_merged['Period'].isnull().sum()

print("Number of missing values (NAT) in the 'Period' column:", missing_count)

Number of missing values (NAT) in the 'Period' column: 0

In [32]:
# Get unique fund names in the 'Fund Name' column for both dataframes
unique_names_merged = set(fees_merged['Fund name'].unique())
unique_names_non_merged = set(fees_non_merged['Fund name'].unique())

# Find the common fund names between the two dataframes
common_names = unique_names_merged.intersection(unique_names_non_merged)

# Print the common fund names
print("Funds that appear in both fees_merged and fees_non_merged:")
for name in common_names:
    print(name)

Funds that appear in both fees_merged and fees_non_merged:

**Using RSE wind-up date as merged fund dummy variable**

In [33]:
# Convert the 'RSE Wind up date' column to datetime
financial_performance_merged['RSE Wind up date'] = pd.to_datetime(financial_performance_merged['RSE Wind up date'], errors='coerce')

# Group by 'Fund Name' and aggregate the non-NaN 'RSE Wind up date' column
unique_funds_rse = financial_performance_merged.groupby('Fund name')['RSE Wind up date'].apply(lambda x: x.dropna().dt.strftime('%Y/%m/%d').unique())

# Print the unique fund names and their corresponding RSE Wind up dates
for fund_name, rse_dates in unique_funds_rse.items():
    if rse_dates.size > 0:
        print(f"Fund Name: {fund_name}")
        print(f"RSE Wind up dates: {', '.join(rse_dates)}")
        print("---")

Fund Name: Australian Government Employees Superannuation Trust
RSE Wind up dates: 2012/12/31
---
Fund Name: Austsafe Superannuation Fund
RSE Wind up dates: 2019/03/31
---
Fund Name: Bluescope Steel Superannuation Fund
RSE Wind up dates: 2017/06/07
---
Fund Name: Boc Gases Superannuation Fund
RSE Wind up dates: 2021/11/01
---
Fund Name: Brisbane City Council Superannuation Plan
RSE Wind up dates: 2011/07/01
---
Fund Name: Club Plus Superannuation Scheme
RSE Wind up dates: 2021/11/30
---
Fund Name: Club Super
RSE Wind up dates: 2019/10/31
---
Fund Name: Concept One The Industry Superannuation Fund
RSE Wind up dates: 2018/02/09
---
Fund Name: Connect Superannuation Plan
RSE Wind up dates: 2010/09/30
---
Fund Name: Energy Super
RSE Wind up dates: 2021/07/01
---
Fund Name: Health Industry Plan
RSE Wind up dates: 2014/05/01
---
Fund Name: Health Super Fund
RSE Wind up dates: 2011/06/30
---
Fund Name: IAG & NRMA Superannuation Plan
RSE Wind up dates: 2020/11/14
---
Fund Name: Local Government Superannuation Scheme
RSE Wind up dates: 2012/07/01
---
Fund Name: Nationwide Superannuation Fund
RSE Wind up dates: 2018/11/30
---
Fund Name: OnePath Masterfund
RSE Wind up dates: 2019/11/01
---
Fund Name: Quadrant Superannuation Scheme
RSE Wind up dates: 2016/06/30
---
Fund Name: Queensland Independent Education & Care Superannuation Trust
RSE Wind up dates: 2019/05/06
---
Fund Name: Reserve Bank of Australia Officers Superannuation Fund
RSE Wind up dates: 2017/03/21
---
Fund Name: Rio Tinto Staff Superannuation Fund
RSE Wind up dates: 2017/07/01
---
Fund Name: Statewide Superannuation Trust
RSE Wind up dates: 2022/04/29
---
Fund Name: Tasplan Superannuation Fund
RSE Wind up dates: 2021/04/01
---
Fund Name: The Executive Superannuation Fund
RSE Wind up dates: 2018/12/31
---
Fund Name: Toyota Super
RSE Wind up dates: 2021/04/30
---
Fund Name: Victorian Superannuation Fund
RSE Wind up dates: 2020/06/30
---
Fund Name: Virgin Superannuation
RSE Wind up dates: 2016/12/22
---
Fund Name: WA Local Government Superannuation Plan
RSE Wind up dates: 2020/12/03
---
Fund Name: Westscheme
RSE Wind up dates: 2011/06/30
---

In [34]:
# Create an empty list to store the matched RSE Wind up dates
matched_rse_dates = []

# Iterate through each row in merger_list
for _, row in merger_list.iterrows():
    acquired_fund = row['Acquired Fund']
    if acquired_fund in unique_funds_rse:
        rse_dates = unique_funds_rse[acquired_fund]
        matched_rse_dates.append(', '.join(rse_dates))
    else:
        matched_rse_dates.append('No Match')

# Add the matched RSE Wind up dates as a new column in merger_list
merger_list['Matched RSE Wind up dates'] = matched_rse_dates

# Print the modified merger_list dataframe
print(merger_list)

     Merger Date Annual Merger Date Quarterly  \
0   2011-06-30 00:00:00                   NaN
1   2011-06-30 00:00:00                   NaN
2   2012-06-30 00:00:00                   NaN
3   2013-06-30 00:00:00                   NaN
4   2013-06-30 00:00:00                   NaN
5   2011-06-30 00:00:00                   NaN
6   2014-06-30 00:00:00   2014-06-30 00:00:00
7   2016-06-30 00:00:00   2015-12-31 00:00:00
8   2017-06-30 00:00:00                   NaN
9   2017-06-30 00:00:00   2016-12-31 00:00:00
10  2018-06-30 00:00:00   2017-09-30 00:00:00
11  2017-06-30 00:00:00                   NaN
12  2018-06-30 00:00:00   2018-03-31 00:00:00
13  2020-06-30 00:00:00   2019-06-30 00:00:00
14  2019-06-30 00:00:00   2018-12-31 00:00:00
15  2019-06-30 00:00:00   2018-12-31 00:00:00
16  2019-06-30 00:00:00   2019-06-30 00:00:00
17  2019-06-30 00:00:00   2019-03-31 00:00:00
18  2021-06-30 00:00:00   2020-12-31 00:00:00
19  2021-06-30 00:00:00   2021-06-30 00:00:00
20  2020-06-30 00:00:00   2019-12-31 00:00:00
21  2020-06-30 00:00:00   2020-06-30 00:00:00
22  2022-06-30 00:00:00   2022-03-31 00:00:00
23  2021-06-30 00:00:00   2020-12-31 00:00:00
24  2022-06-30 00:00:00   2022-06-30 00:00:00
25  2022-06-30 00:00:00   2021-09-30 00:00:00
26  2021-06-30 00:00:00   2021-06-30 00:00:00
27  2022-06-30 00:00:00   2021-12-31 00:00:00
28  2022-06-30 00:00:00   2021-12-31 00:00:00
29  2022-06-30 00:00:00   2022-06-30 00:00:00
30  2022-06-30 00:00:00   2021-12-31 00:00:00
31  2022-06-30 00:00:00   2021-12-31 00:00:00
32  2022-06-30 00:00:00   2022-06-30 00:00:00
33  2022-06-30 00:00:00   2022-06-30 00:00:00
34  2022-06-30 00:00:00   2023-06-30 00:00:00
35                  NaN   2023-06-30 00:00:00
36                  NaN   2022-12-31 00:00:00
37                  NaN                   NaN
38                   35                    27

                                       Acquiring Fund  \
0   CONSTRUCTION AND BUILDING UNIONS SUPERANNUATIO...
1                                     AustralianSuper
2                                           LGIAsuper
3                      Statewide Superannuation Trust
4                                     AustralianSuper
5                                         Aware Super
6                                         Prime Super
7                         Tasplan Superannuation Fund
8                        Sunsuper Superannuation Fund
9                                  Mercer Super Trust
10                                         equipsuper
11                       Sunsuper Superannuation Fund
12                                        Aware Super
13                       Retirement Portfolio Service
14                                 Smart Future Trust
15                   Russell Investments Master Trust
16                                          NGS Super
17                       Sunsuper Superannuation Fund
18                       Sunsuper Superannuation Fund
19                                       Spirit Super
20                       HOSTPLUS Superannuation Fund
21                                        Aware Super
22                        Australian Retirement Trust
23                                        Aware Super
24  CONSTRUCTION AND BUILDING UNIONS SUPERANNUATIO...
25                                          LGIAsuper
26                                         equipsuper
27                                         equipsuper
28                                        Aware Super
29                        Australian Retirement Trust
30                       HOSTPLUS Superannuation Fund
31                                    AustralianSuper
32                       HOSTPLUS Superannuation Fund
33                                    AustralianSuper
34                                          LGIAsuper
35                                 Mercer Super Trust
36                                           Unisuper
37                                                NaN
38                                                NaN

                                        Acquired Fund  \
0                         Connect Superannuation Plan
1                                          Westscheme
2           Brisbane City Council Superannuation Plan
3              Local Government Superannuation Scheme
4   Australian Government Employees Superannuation...
5                                   Health Super Fund
6                                Health Industry Plan
7                      Quadrant Superannuation Scheme
8   Reserve Bank of Australia Officers Superannuat...
9                               Virgin Superannuation
10                Rio Tinto Staff Superannuation Fund
11                Bluescope Steel Superannuation Fund
12       Concept One The Industry Superannuation Fund
13                                 OnePath Masterfund
14                  The Executive Superannuation Fund
15                     Nationwide Superannuation Fund
16  Queensland Independent Education & Care Supera...
17                       Austsafe Superannuation Fund
18                     IAG & NRMA Superannuation Plan
19                        Tasplan Superannuation Fund
20                                         Club Super
21                      Victorian Superannuation Fund
22                       Sunsuper Superannuation Fund
23            WA Local Government Superannuation Plan
24                                        Media Super
25                                       Energy Super
26                                       Toyota Super
27                      Boc Gases Superannuation Fund
28  The Victorian Independent Schools Superannuati...
29               Australia Post Superannuation Scheme
30                                 Intrust Super Fund
31                    Club Plus Superannuation Scheme
32                     Statewide Superannuation Trust
33          Labour Union Co-Operative Retirement Fund
34                                  SPSL Master Trust
35                                    Retirement Wrap
36  Australian Catholic Superannuation and Retirem...
37                                                NaN
38                                                NaN

                                               Notes:  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                   First State Super
6                                                 NaN
7                                                 NaN
8                                                 NaN
9     Quarterly: Virgin to virgin mysuper mercer fund
10                                                NaN
11                                                NaN
12                                  First State Super
13                                                NaN
14                              AON | Equity Trustees
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                  First State Super
22   Qsuper | Sunsuper: Sunsuper to sunsuper ART fund
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                     VISS: Table 3b
29                                 Sunsuper | Auspost
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34    Merger date 1/4/22 (update with June 2023 data)
35  April: Mercer SmartPath | BT Super Westpac Gro...
36                                                NaN
37                                                NaN
38                                                NaN

   Matched RSE Wind up dates
0                 2010/09/30
1                 2011/06/30
2                 2011/07/01
3                 2012/07/01
4                 2012/12/31
5                 2011/06/30
6                 2014/05/01
7                 2016/06/30
8                 2017/03/21
9                 2016/12/22
10                2017/07/01
11                2017/06/07
12                2018/02/09
13                2019/11/01
14                2018/12/31
15                2018/11/30
16                2019/05/06
17                2019/03/31
18                2020/11/14
19                2021/04/01
20                2019/10/31
21                2020/06/30
22
23                2020/12/03
24
25                2021/07/01
26                2021/04/30
27                2021/11/01
28                  No Match
29
30
31                2021/11/30
32                2022/04/29
33
34
35                  No Match
36                  No Match
37                  No Match
38                  No Match

**Saving Dataframes as excel files**

In [35]:
%who DataFrame

aware_super_rows	 fees	 fees_merged	 fees_non_merged	 financial_performance	 financial_performance_merged	 financial_performance_non_merged	 fund_profile	 fund_profile_merged
fund_profile_non_merged	 master_list	 merger_list

In [36]:
#pip install XlsxWriter

In [37]:
import xlsxwriter

In [38]:
# Create an Excel writer object using XlsxWriter engine
with pd.ExcelWriter('Merger_information.xlsx', engine='xlsxwriter') as excel_writer:
    # Save each dataframe as a separate sheet
    fees.to_excel(excel_writer, sheet_name='fees', index=False)
    fees_merged.to_excel(excel_writer, sheet_name='fees_merged', index=False)
    fees_non_merged.to_excel(excel_writer, sheet_name='fees_non_merged', index=False)
    financial_performance.to_excel(excel_writer, sheet_name='financial_performance', index=False)
    financial_performance_merged.to_excel(excel_writer, sheet_name='financial_merged', index=False)
    financial_performance_non_merged.to_excel(excel_writer, sheet_name='financial_non_merged', index=False)
    fund_profile.to_excel(excel_writer, sheet_name='fund_profile', index=False)
    fund_profile_merged.to_excel(excel_writer, sheet_name='fund_profile_merged', index=False)
    fund_profile_non_merged.to_excel(excel_writer, sheet_name='fund_profile_non_merged', index=False)

In [40]:
# Save the modified merger_list dataframe to an Excel file
merger_list.to_excel('merger_list.xlsx', index=False)

Checking Mergers

In [40]:
dataframes = {
    'fees': fees,
    'fees_merged': fees_merged,
    'fees_non_merged': fees_non_merged,
    'financial_performance': financial_performance,
    'financial_performance_merged': financial_performance_merged,
    'financial_performance_non_merged': financial_performance_non_merged,
    'fund_profile': fund_profile,
    'fund_profile_merged': fund_profile_merged,
    'fund_profile_non_merged': fund_profile_non_merged,
}

# Create a master list of periods (you can customize this based on your specific needs)
master_periods = set()  # Initialize an empty set to store unique periods
for df_name, df in dataframes.items():
    if 'Period' in df.columns:
        master_periods.update(df['Period'].dt.strftime('%Y-%m-%d').unique())  # Add unique periods from each DataFrame to the master set

# Check for missing periods in each DataFrame
for df_name, df in dataframes.items():
    if 'Period' in df.columns:
        df_periods = set(df['Period'].dt.strftime('%Y-%m-%d').unique())
        missing_periods = master_periods - df_periods  # Find periods that are in the master list but not in the current DataFrame
        if missing_periods:
            print(f"Missing periods in {df_name}: {sorted(list(missing_periods))}")
        print('-' * 50)

Missing periods in fees: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------
Missing periods in fees_merged: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------
Missing periods in fees_non_merged: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
Missing periods in fund_profile: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------
Missing periods in fund_profile_merged: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------
Missing periods in fund_profile_non_merged: ['2004-06-30', '2005-06-30', '2006-06-30', '2007-06-30', '2008-06-30', '2009-06-30', '2010-06-30', '2011-06-30', '2012-06-30', '2013-06-30']
--------------------------------------------------

Adjusting Character types

5
Period                                                   datetime64[ns]
Fund name                                                        object
ABN                                                              object
RSE Regulatory classification                                    object
Fund type                                                        object
                                                              ...
Reserve                                                          object
RSE licensee                                                     object
Other                                                            object
Total activity fees paid                                         object
Activity fees paid as a proportion of total fees paid            object
Length: 81, dtype: object