In [1]:
import pandas as pd

Loading in Quarterly performance statistics

In [2]:
excel_file_path = 'Quarterly MySuper statistics 2013 - June 2023.xlsx'

all_dfs = pd.read_excel(excel_file_path, sheet_name=None)

In [3]:
# Display the keys (worksheet names) in the dictionary
print("Worksheet names:", list(all_dfs.keys()))

Worksheet names: ['Cover', 'Notes', 'Contents', 'Important notice', 'Table 1a', 'Table 1b', 'Table 2a', 'Table 2b', 'Table 3', 'Table 4', 'Table 5', 'Table 6', 'Table 7', 'Revisions', 'Explanatory notes']

In [4]:
# Access a specific dataframe by its worksheet name
fund_profile = all_dfs['Table 1a']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
investment_performance = all_dfs['Table 2a']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
mysuper_fees = all_dfs['Table 3']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
investment_fees = all_dfs['Table 4']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
admin_fees = all_dfs['Table 5']  # Change 'Sheet1' to the actual worksheet name

# Access a specific dataframe by its worksheet name
activity_fees = all_dfs['Table 6']  # Change 'Sheet1' to the actual worksheet name

Cleaning Quarterly APRA data

In [5]:
# Extract the header row (Row 2)
new_columns_row = fund_profile.iloc[2]

# Drop rows 0, 1, 3, and 4
fund_profile = fund_profile.drop([0, 1, 2, 3, 4])

# Set the header row as the column names
fund_profile.columns = new_columns_row

# Reset the index to the default numeric index
fund_profile.reset_index(drop=True, inplace=True)

In [6]:
fund_profile.head(5)

2,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Property - Upper end of asset allocation range,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range
0,2013-09-30 00:00:00,AMP MySuper No.1,Generic,NaN,NaN,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,...,10,5,0,10,NaN,NaN,NaN,5,0,10
1,2013-09-30 00:00:00,AMP MySuper No.3,Generic,Lifecycle,6,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-09-30 00:00:00,AMP MySuper No.2,Generic,Lifecycle,6,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-09-30 00:00:00,Asgard Employee MySuper,Generic,Lifecycle,7,ASGARD Independence Plan Division Two,90194410365,BT Funds Management Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-09-30 00:00:00,MySuper Balanced,Generic,NaN,NaN,Australian Catholic Superannuation and Retirem...,24680629023,SCS Super Pty. Limited,Public offer,Industry,...,10,6,0,0,1,0,0,14,0,0

In [7]:
# Extract the header row (Row 3)
new_columns_row = investment_performance.iloc[3]

investment_performance = investment_performance.drop([0, 1, 2, 3, 4, 5])

# Set the header row as the column names
investment_performance.columns = new_columns_row

# Reset the index to the default numeric index
investment_performance.reset_index(drop=True, inplace=True)

In [8]:
investment_performance.head(5)

3,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Return target (annualised target net return above CPI over ten years),Level of investment risk (estimated number of negative net investment returns over a 20 year period),...,Advice fees and costs\n (rep member),Advice-related tax expense / benefit,NaN,Advice-related tax expense / benefit\n (rep member),Net return \n (rep member) - Quarterly,One-year net return \n (rep member) - Annualised,Three year net return \n (rep member) - Annualised,Five year net return \n (rep member) - Annualised,Total fees and costs\n (rep member),"Total fees, costs and taxes\n (rep member)"
0,2013-09-30 00:00:00,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,4,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-09-30 00:00:00,MySuper Balanced,Generic,Australian Catholic Superannuation and Retirem...,24680629023,SCS Super Pty. Limited,Public offer,Industry,3.5,3,...,0,0,0,0,3.6,NaN,NaN,NaN,0.24,0.62
2,2013-09-30 00:00:00,Balanced (accumulation),Generic,Australian Ethical Retail Superannuation Fund,49633667743,Australian Ethical Superannuation Pty Ltd,Public offer,Retail,3.5,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-09-30 00:00:00,AMIST MySuper,Generic,Australian Meat Industry Superannuation Trust,28342064803,Australian Meat Industry Superannuation Pty Ltd,Public offer,Industry,2,3.2,...,0,0,0,0,4.66,NaN,NaN,NaN,0.19,0.71
4,2013-09-30 00:00:00,AustralianSuper MySuper,Generic,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,3.9,4,...,0,0,0,0,5.1,NaN,NaN,NaN,0.19,0.62

In [9]:
# Extract the header row (Row 3)
new_columns_row = mysuper_fees.iloc[3]

mysuper_fees = mysuper_fees.drop([0, 1, 2, 3, 4, 5])

# Set the header row as the column names
mysuper_fees.columns = new_columns_row

# Reset the index to the default numeric index
mysuper_fees.reset_index(drop=True, inplace=True)

In [10]:
mysuper_fees.head(5)

3,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Indirect cost ratio,Investment fees,...,Switching fee per activity,Switching fees (% of activity),Switching fees cap,Exit fee per activity,Exit fees (% of activity),Exit fees cap,Other fees,Other fees charging basis,Other fees (% of member balance),Other fees cap
0,2014-12-31 00:00:00,AMG MySuper,Generic,AMG Super,30099320583,Diversa Trustees Limited,Public offer,Retail,1.23,NaN,...,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-31 00:00:00,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-31 00:00:00,AFLPA & AFL Industry MySuper,Large employer,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-31 00:00:00,AMP MySuper No.2,Generic,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Extract the header row (Row 1)
new_columns_row = investment_fees.iloc[1]

# Drop rows 0, 1, 3
investment_fees = investment_fees.drop([0, 1, 2, 3])

# Set the header row as the column names
investment_fees.columns = new_columns_row

# Reset the index to the default numeric index
investment_fees.reset_index(drop=True, inplace=True)

In [12]:
investment_fees.head(5)

1,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Lifecycle stage name,Investment fees,Investment fees (% of member balance),Member accounts
0,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,AMP MySuper 1950s,NaN,0.4,38
1,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,AMP MySuper 1960s,NaN,0.4,127
2,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,AMP MySuper 1970s,NaN,0.4,182
3,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,AMP MySuper 1980s,NaN,0.4,572
4,2014-12-31 00:00:00,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,AMP MySuper 1990s,NaN,0.4,827

In [13]:
# Extract the header row (Row 1)
new_columns_row = admin_fees.iloc[2]

# Drop rows 0, 1, 3
admin_fees = admin_fees.drop([0, 1, 2, 3, 4])

# Set the header row as the column names
admin_fees.columns = new_columns_row

# Reset the index to the default numeric index
admin_fees.reset_index(drop=True, inplace=True)

In [14]:
admin_fees.head(5)

2,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Administration fee level - Description,Administration fee level,Administration fee level - (% of member balance),Member accounts to which the fee level applies,Administration - Number of employer sponsors to which the fee level applies
0,2014-12-31 00:00:00,ANZ Staff MySuper,Generic,ANZ Australian Staff Superannuation Scheme,83810127567,ANZ Staff Superannuation (Australia) Pty. Limited,Non public offer,Corporate,Other Administration fee,NaN,0.1,12652,1
1,2014-12-31 00:00:00,Asgard Employee MySuper,Generic,ASGARD Independence Plan Division Two,90194410365,BT Funds Management Limited,Public offer,Retail,Admin Fee - Employer Discount - $0.00 pa 0.31%,NaN,0.31,4902,1
2,2014-12-31 00:00:00,Balanced (accumulation),Generic,Australian Ethical Retail Superannuation Fund,49633667743,Australian Ethical Superannuation Pty Ltd,Public offer,Retail,Larger Employer Discount,104.1,0.84,NaN,NaN
3,2014-12-31 00:00:00,Komatsu Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Administration fee,52,NaN,1168,3
4,2014-12-31 00:00:00,MySuper Default Option,Generic,BHP Billiton Superannuation Fund,30187082512,PFS Nominees Pty Ltd,Non public offer,Retail,Administration fee,26,0.07,11954,1

In [15]:
# Extract the header row (Row 1)
new_columns_row = activity_fees.iloc[2]

# Drop rows 0, 1, 3
activity_fees = activity_fees.drop([0, 1, 2, 3, 4])

# Set the header row as the column names
activity_fees.columns = new_columns_row

# Reset the index to the default numeric index
activity_fees.reset_index(drop=True, inplace=True)

In [16]:
activity_fees.head(5)

2,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Activity fee - Description,"Activity fee, financial product advice",Activity fee,Activity fee (% of member balance)
0,2014-12-31 00:00:00,QSuper Lifetime,Generic,Australian Retirement Trust,60905115063,QSuper Board,Non public offer,Public Sector,Maximum advice fees,Yes,1360,NaN
1,2014-12-31 00:00:00,QSuper Lifetime,Generic,Australian Retirement Trust,60905115063,QSuper Board,Non public offer,Public Sector,Minimum advice fees,Yes,55,NaN
2,2014-12-31 00:00:00,AustralianSuper MySuper,Generic,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Binding nomination fee,No,10,NaN
3,2014-12-31 00:00:00,AustralianSuper MySuper,Generic,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Contribution splitting fee,No,70,NaN
4,2014-12-31 00:00:00,AustralianSuper MySuper,Generic,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Family law information fee,No,50,NaN

**Load in merger list**

In [42]:
excel_file_path = 'Merged SF Annual Data.xlsx'

all_dfs = pd.read_excel(excel_file_path, sheet_name=None)

In [43]:
# Display the keys (worksheet names) in the dictionary
print("Worksheet names:", list(all_dfs.keys()))

Worksheet names: ['Annual', 'Quarterly', 'Merger List']

In [44]:
merger_list = all_dfs['Merger List']

quarterly = all_dfs['Quarterly']

In [45]:
quarterly

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer
0,2014-03-31,Growth [HIP MySuper] Option,Health Industry Plan,50030598247,0,1,Prime Super
1,2015-09-30,Quadrant MyChoices_MySuper Investment Option,Quadrant Superannuation Scheme,12727521796,0,1,Tasplan Superannuation Fund
2,2016-09-30,Virgin Super Essentials,Virgin Superannuation,88436608094,0,1,Mercer Super Trust
3,2017-06-30,Rio Tinto Fund Growth Option (MySuperProduct),Rio Tinto Staff Superannuation Fund,98438661856,0,1,equipsuper
4,2017-12-31,MySuper Balanced,Concept One The Industry Superannuation Fund,21059451252,0,1,Aware Super
...,...,...,...,...,...,...,...
1896,2023-06-30,ANZ Smart Choice Super for employers and their...,Retirement Portfolio Service,61808189263,0,0,NaN
1897,2023-06-30,ANZ Smart Choice Super for QBE Management Serv...,Retirement Portfolio Service,61808189263,0,0,NaN
1898,2023-06-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN
1899,2023-06-30,Balanced (MySuper),Spirit Super,74559365913,0,0,NaN
1900,2023-06-30,UniSuper Balanced,Unisuper,91385943850,0,0,NaN

In [46]:
# Separate rows where 'Merged' is 1
merged_rows = quarterly[quarterly['Merged'] == 1]

# Separate rows where 'Merged' is not 1
non_merged_rows = quarterly[quarterly['Merged'] != 1]

# Sort the non_merged_rows DataFrame by 'Merger' column in descending order
sorted_non_merged_rows = non_merged_rows.sort_values(by='Merger', ascending=False)

# Drop duplicate rows based on 'Period', 'Fund Name', and 'ABN' in sorted_non_merged_rows
deduplicated_non_merged_rows = sorted_non_merged_rows.drop_duplicates(subset=['Period', 'MySuper product name', 'Fund name', 'Fund ABN'], keep='first')

# Reset the index for deduplicated_non_merged_rows
deduplicated_non_merged_rows.reset_index(drop=True, inplace=True)

# Concatenate the merged and non-merged rows back together
quarterly = pd.concat([merged_rows, deduplicated_non_merged_rows], ignore_index=True)

# Sort the DataFrame if needed (optional)
quarterly.sort_values(by=['Merger', 'Period', 'Fund name', 'Fund ABN'], ascending=[False, True, True, True], inplace=True)

# Reset the index for the concatenated DataFrame
quarterly.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
print(quarterly)

         Period                               MySuper product name  \
0    2014-06-30                                            MySuper
1    2015-12-31                                    Tasplan MySuper
2    2016-12-31                               Virgin Money MySuper
3    2017-09-30                                RT Growth (MySuper)
4    2018-03-31                                  MySuper Lifecycle
...         ...                                                ...
1473 2023-06-30  ANZ Smart Choice Super for employers and their...
1474 2023-06-30                              smartMonday Lifecycle
1475 2023-06-30                                 Balanced (MySuper)
1476 2023-06-30                                  UniSuper Balanced
1477 2023-06-30                                 Equipsuper MySuper

                         Fund name     Fund ABN  Merger  Merged Acquirer
0                      Prime Super  60562335823       1       0      NaN
1      Tasplan Superannuation Fund  14602032302       1       0      NaN
2               Mercer Super Trust  19905422981       1       0      NaN
3                       equipsuper  33813823017       1       0      NaN
4                      Aware Super  53226460365       1       0      NaN
...                            ...          ...     ...     ...      ...
1473  Retirement Portfolio Service  61808189263       0       0      NaN
1474            Smart Future Trust  68964712340       0       0      NaN
1475                  Spirit Super  74559365913       0       0      NaN
1476                      Unisuper  91385943850       0       0      NaN
1477                    equipsuper  33813823017       0       0      NaN

[1478 rows x 7 columns]

In [48]:
quarterly

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer
0,2014-06-30,MySuper,Prime Super,60562335823,1,0,NaN
1,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN
2,2016-12-31,Virgin Money MySuper,Mercer Super Trust,19905422981,1,0,NaN
3,2017-09-30,RT Growth (MySuper),equipsuper,33813823017,1,0,NaN
4,2018-03-31,MySuper Lifecycle,Aware Super,53226460365,1,0,NaN
...,...,...,...,...,...,...,...
1473,2023-06-30,ANZ Smart Choice Super for employers and their...,Retirement Portfolio Service,61808189263,0,0,NaN
1474,2023-06-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN
1475,2023-06-30,Balanced (MySuper),Spirit Super,74559365913,0,0,NaN
1476,2023-06-30,UniSuper Balanced,Unisuper,91385943850,0,0,NaN
1477,2023-06-30,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN

In [49]:
# Count the number of occurrences of 1 in 'merger' and 'merged' columns
count_merger = (quarterly['Merger'] == 1).sum()
count_merged = (quarterly['Merged'] == 1).sum()

# Print the counts
print("Count of 1's in 'merger' column:", count_merger)
print("Count of 1's in 'merged' column:", count_merged)

Count of 1's in 'merger' column: 31
Count of 1's in 'merged' column: 32

In [50]:
# Filter the dataframe to rows containing 'Aware Super' in 'Fund Name'
aware_super_rows = quarterly[quarterly['Fund name'].str.contains('Aware Super', case=False)]

# Display the filtered dataframe
print(aware_super_rows)

         Period       MySuper product name    Fund name     Fund ABN  Merger  \
4    2018-03-31          MySuper Lifecycle  Aware Super  53226460365       1
12   2020-06-30  VicSuper Growth (MySuper)  Aware Super  53226460365       1
13   2020-12-31          MySuper Lifecycle  Aware Super  53226460365       1
19   2021-12-31          MySuper Lifecycle  Aware Super  53226460365       1
35   2013-09-30          MySuper Lifecycle  Aware Super  53226460365       0
70   2013-12-31          MySuper Lifecycle  Aware Super  53226460365       0
113  2014-03-31          MySuper Lifecycle  Aware Super  53226460365       0
156  2014-06-30          MySuper Lifecycle  Aware Super  53226460365       0
198  2014-09-30          MySuper Lifecycle  Aware Super  53226460365       0
241  2014-12-31          MySuper Lifecycle  Aware Super  53226460365       0
284  2015-03-31          MySuper Lifecycle  Aware Super  53226460365       0
327  2015-06-30          MySuper Lifecycle  Aware Super  53226460365       0
370  2015-09-30          MySuper Lifecycle  Aware Super  53226460365       0
413  2015-12-31          MySuper Lifecycle  Aware Super  53226460365       0
454  2016-03-31          MySuper Lifecycle  Aware Super  53226460365       0
496  2016-06-30          MySuper Lifecycle  Aware Super  53226460365       0
538  2016-09-30          MySuper Lifecycle  Aware Super  53226460365       0
581  2016-12-31          MySuper Lifecycle  Aware Super  53226460365       0
623  2017-03-31          MySuper Lifecycle  Aware Super  53226460365       0
666  2017-06-30          MySuper Lifecycle  Aware Super  53226460365       0
710  2017-09-30          MySuper Lifecycle  Aware Super  53226460365       0
752  2017-12-31          MySuper Lifecycle  Aware Super  53226460365       0
836  2018-06-30          MySuper Lifecycle  Aware Super  53226460365       0
878  2018-09-30          MySuper Lifecycle  Aware Super  53226460365       0
919  2018-12-31          MySuper Lifecycle  Aware Super  53226460365       0
955  2019-03-31          MySuper Lifecycle  Aware Super  53226460365       0
992  2019-06-30          MySuper Lifecycle  Aware Super  53226460365       0
1026 2019-09-30          MySuper Lifecycle  Aware Super  53226460365       0
1063 2019-12-31          MySuper Lifecycle  Aware Super  53226460365       0
1098 2020-03-31          MySuper Lifecycle  Aware Super  53226460365       0
1134 2020-06-30          MySuper Lifecycle  Aware Super  53226460365       0
1169 2020-09-30          MySuper Lifecycle  Aware Super  53226460365       0
1170 2020-09-30  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1205 2020-12-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1237 2021-03-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1238 2021-03-31          MySuper Lifecycle  Aware Super  53226460365       0
1272 2021-06-30          MySuper Lifecycle  Aware Super  53226460365       0
1273 2021-06-30  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1302 2021-09-30          MySuper Lifecycle  Aware Super  53226460365       0
1303 2021-09-30  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1331 2021-12-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1355 2022-03-31          MySuper Lifecycle  Aware Super  53226460365       0
1356 2022-03-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1379 2022-06-30          MySuper Lifecycle  Aware Super  53226460365       0
1380 2022-06-30  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1400 2022-09-30          MySuper Lifecycle  Aware Super  53226460365       0
1401 2022-09-30  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1422 2022-12-31          MySuper Lifecycle  Aware Super  53226460365       0
1423 2022-12-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1443 2023-03-31          MySuper Lifecycle  Aware Super  53226460365       0
1444 2023-03-31  VicSuper Growth (MySuper)  Aware Super  53226460365       0
1465 2023-06-30          MySuper Lifecycle  Aware Super  53226460365       0

      Merged Acquirer
4          0      NaN
12         0      NaN
13         0      NaN
19         0      NaN
35         0      NaN
70         0      NaN
113        0      NaN
156        0      NaN
198        0      NaN
241        0      NaN
284        0      NaN
327        0      NaN
370        0      NaN
413        0      NaN
454        0      NaN
496        0      NaN
538        0      NaN
581        0      NaN
623        0      NaN
666        0      NaN
710        0      NaN
752        0      NaN
836        0      NaN
878        0      NaN
919        0      NaN
955        0      NaN
992        0      NaN
1026       0      NaN
1063       0      NaN
1098       0      NaN
1134       0      NaN
1169       0      NaN
1170       0      NaN
1205       0      NaN
1237       0      NaN
1238       0      NaN
1272       0      NaN
1273       0      NaN
1302       0      NaN
1303       0      NaN
1331       0      NaN
1355       0      NaN
1356       0      NaN
1379       0      NaN
1380       0      NaN
1400       0      NaN
1401       0      NaN
1422       0      NaN
1423       0      NaN
1443       0      NaN
1444       0      NaN
1465       0      NaN

**Creating sub-sets for firms that have merged and firms that have not merged**

In [51]:
# Convert the 'Period' column in 'master_list' dataframe to datetime
quarterly['Period'] = pd.to_datetime(quarterly['Period'])

In [52]:
# Convert the 'Period' column to datetime
fund_profile['Period'] = pd.to_datetime(fund_profile['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
fund_profile_merged = pd.merge(quarterly, fund_profile, on=['Period', 'Fund name', 'Fund ABN', 'MySuper product name'], how='inner')

# Create a key column in both DataFrames for easier comparison
fund_profile['key'] = fund_profile['Period'].astype(str) + fund_profile['Fund name'].astype(str) + fund_profile['Fund ABN'].astype(str) + fund_profile['MySuper product name'].astype(str)
fund_profile_merged['key'] = fund_profile_merged['Period'].astype(str) + fund_profile_merged['Fund name'].astype(str) + fund_profile_merged['Fund ABN'].astype(str) + fund_profile_merged['MySuper product name'].astype(str)

# Identify non-merged funds
fund_profile_non_merged = fund_profile[~fund_profile['key'].isin(fund_profile_merged['key'])]

# Drop the key column as it's no longer needed
fund_profile.drop(columns=['key'], inplace=True)
fund_profile_merged.drop(columns=['key'], inplace=True)
fund_profile_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66897/2730711663.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fund_profile_non_merged.drop(columns=['key'], inplace=True)

In [53]:
fund_profile_merged

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,...,Property - Upper end of asset allocation range,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range
0,2014-06-30,MySuper,Prime Super,60562335823,1,0,NaN,Generic,NaN,NaN,...,25,15,0,25,NaN,NaN,NaN,0,0,10
1,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,NaN,NaN,...,10,6.5,0,10,NaN,NaN,NaN,8,3,15
2,2016-12-31,Virgin Money MySuper,Mercer Super Trust,19905422981,1,0,NaN,Material goodwill,Lifecycle,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-09-30,RT Growth (MySuper),equipsuper,33813823017,1,0,NaN,Large employer,NaN,NaN,...,14,6,0,10,0,0,10,3,0,7
4,2018-03-31,MySuper Lifecycle,Aware Super,53226460365,1,0,NaN,Generic,Lifecycle,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,2023-03-31,Suncorp Lifestage Funds,SPSL Master Trust,98350952022,0,1,LGIAsuper,Generic,Lifecycle,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,2023-03-31,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Lifecycle,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,2023-03-31,Balanced (MySuper),Spirit Super,74559365913,0,0,NaN,Generic,NaN,NaN,...,35,10,0,25,NaN,NaN,NaN,0,0,20
1458,2023-03-31,UniSuper Balanced,Unisuper,91385943850,0,0,NaN,Generic,NaN,NaN,...,53,12,0,53,NaN,NaN,NaN,NaN,NaN,NaN
1459,2023-03-31,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,NaN,NaN,...,40,9,0,20,NaN,NaN,NaN,5,0,20

In [54]:
fund_profile_non_merged

2,Period,MySuper product name,MySuper product type,Lifecycle strategy indicator,Number of lifecycle stages,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,...,Property - Upper end of asset allocation range,Infrastructure - Benchmark asset allocation,Infrastructure - Lower end of asset allocation range,Infrastructure -Upper end of asset allocation range,Commodities - Benchmark asset allocation,Commodities - Lower end of asset allocation range,Commodities - Upper end of asset allocation range,Other investments - Benchmark asset allocation,Other investments - Lower end of asset allocation range,Other investments - Upper end of asset allocation range
0,2013-09-30,AMP MySuper No.1,Generic,NaN,NaN,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,...,10,5,0,10,NaN,NaN,NaN,5,0,10
1,2013-09-30,AMP MySuper No.3,Generic,Lifecycle,6,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-09-30,AMP MySuper No.2,Generic,Lifecycle,6,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-09-30,Asgard Employee MySuper,Generic,Lifecycle,7,ASGARD Independence Plan Division Two,90194410365,BT Funds Management Limited,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013-09-30,Balanced (accumulation),Generic,NaN,NaN,Australian Ethical Retail Superannuation Fund,49633667743,Australian Ethical Superannuation Pty Ltd,Public offer,Retail,...,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815,2023-03-31,REST Super,Generic,NaN,NaN,Retail Employees Superannuation Trust,62653671394,Retail Employees Superannuation Pty. Limited,Public offer,Industry,...,0,11.25,0,0,NaN,NaN,NaN,2,0,0
3824,2023-03-31,Telstra Super MySuper,Generic,Lifecycle,3,Telstra Superannuation Scheme,85502108833,Telstra Super Pty Ltd,Public offer,Corporate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3825,2023-03-31,Bendigo MySuper,Generic,Lifecycle,3,The Bendigo Superannuation Plan,57526653420,Bendigo Superannuation Pty Ltd,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3826,2023-03-31,Balanced (MySuper),Generic,NaN,NaN,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,...,19,9,0,19,NaN,NaN,NaN,2,0,12
3828,2023-03-31,Vanguard MySuper,Generic,Lifecycle,36,Vanguard Super,27923449966,Vanguard Super Pty Ltd,Public offer,Retail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Convert the 'Period' column to datetime
investment_performance['Period'] = pd.to_datetime(investment_performance['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
investment_performance_merged = pd.merge(quarterly, investment_performance, on=['Period', 'Fund name', 'Fund ABN', 'MySuper product name'], how='inner')

# Create a key column in both DataFrames for easier comparison
investment_performance['key'] = investment_performance['Period'].astype(str) + investment_performance['Fund name'].astype(str) + investment_performance['Fund ABN'].astype(str) + investment_performance['MySuper product name'].astype(str)
investment_performance_merged['key'] = investment_performance_merged['Period'].astype(str) + investment_performance_merged['Fund name'].astype(str) + investment_performance_merged['Fund ABN'].astype(str) + investment_performance_merged['MySuper product name'].astype(str)

# Identify non-merged funds
investment_performance_non_merged = investment_performance[~investment_performance['key'].isin(investment_performance_merged['key'])]

# Drop the key column as it's no longer needed
investment_performance.drop(columns=['key'], inplace=True)
investment_performance_merged.drop(columns=['key'], inplace=True)
investment_performance_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66897/3659793732.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  investment_performance_non_merged.drop(columns=['key'], inplace=True)

In [56]:
investment_performance_merged

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer,MySuper product type,Fund trustee,Fund public offer status,...,Advice fees and costs\n (rep member),Advice-related tax expense / benefit,NaN,Advice-related tax expense / benefit\n (rep member),Net return \n (rep member) - Quarterly,One-year net return \n (rep member) - Annualised,Three year net return \n (rep member) - Annualised,Five year net return \n (rep member) - Annualised,Total fees and costs\n (rep member),"Total fees, costs and taxes\n (rep member)"
0,2014-06-30,MySuper,Prime Super,60562335823,1,0,NaN,Generic,Prime Super Pty Ltd,Public offer,...,0,0,0,0,2.23,11.94,NaN,NaN,0.33,0.75
1,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,Tasplan Pty Ltd,Public offer,...,0,0,0,0,2.53,5.4,NaN,NaN,0.17,0.75
2,2017-09-30,RT Growth (MySuper),equipsuper,33813823017,1,0,NaN,Large employer,Togethr Trustees Pty Ltd,Public offer,...,0,0,0,0,1.93,NaN,NaN,NaN,0.34,0.44
3,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,...,0,0,0,0,-5.01,-1.44,4.67,4.93,0.35,0.32
4,2019-06-30,Diversified (MySuper),NGS Super,73549180515,1,0,NaN,Generic,NGS Super Pty Limited,Public offer,...,0,0,0,0,3.47,7.09,9.41,8.04,0.33,0.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,2023-03-31,Diversified (MySuper),NGS Super,73549180515,0,0,NaN,Generic,NGS Super Pty Limited,Public offer,...,0,0,0,0,3.58,0.63,8.35,5.76,0.27,0.01
947,2023-03-31,MySuper,Prime Super,60562335823,0,0,NaN,Generic,Prime Super Pty Ltd,Public offer,...,0,0,0,0,2.96,-0.32,7.16,5.1,0.33,0.63
948,2023-03-31,Balanced (MySuper),Spirit Super,74559365913,0,0,NaN,Generic,Motor Trades Association of Australia Superann...,Public offer,...,0,0,0,0,3.42,1.03,8.28,5.77,0.19,0.58
949,2023-03-31,UniSuper Balanced,Unisuper,91385943850,0,0,NaN,Generic,Unisuper Limited,Public offer,...,0,0,0,0,4.05,1.7,9.88,7.06,0.17,0.45
950,2023-03-31,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,Togethr Trustees Pty Ltd,Public offer,...,0,0,0,0,3.48,0.73,8.49,5.8,0.24,0.72

In [57]:
investment_performance_non_merged

3,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Return target (annualised target net return above CPI over ten years),Level of investment risk (estimated number of negative net investment returns over a 20 year period),...,Advice fees and costs\n (rep member),Advice-related tax expense / benefit,NaN,Advice-related tax expense / benefit\n (rep member),Net return \n (rep member) - Quarterly,One-year net return \n (rep member) - Annualised,Three year net return \n (rep member) - Annualised,Five year net return \n (rep member) - Annualised,Total fees and costs\n (rep member),"Total fees, costs and taxes\n (rep member)"
0,2013-09-30,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,4,3.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-09-30,Balanced (accumulation),Generic,Australian Ethical Retail Superannuation Fund,49633667743,Australian Ethical Superannuation Pty Ltd,Public offer,Retail,3.5,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-09-30,AMIST MySuper,Generic,Australian Meat Industry Superannuation Trust,28342064803,Australian Meat Industry Superannuation Pty Ltd,Public offer,Industry,2,3.2,...,0,0,0,0,4.66,NaN,NaN,NaN,0.19,0.71
6,2013-09-30,AvSuper Growth (MySuper),Generic,AvSuper Fund,84421446069,AvSuper Pty Ltd,Public offer,Public Sector,4.5,3.7,...,0,0,0,0,4.82,NaN,NaN,NaN,0.28,0.61
7,2013-09-30,MySuper Default Option,Generic,BHP Billiton Superannuation Fund,30187082512,PFS Nominees Pty Ltd,Non public offer,Retail,3.5,3.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2642,2023-03-31,MySuper Passive Balanced,Generic,OneSuper,43905581638,Diversa Trustees Limited,Public offer,Retail,8.98,5,...,0,0,0,0,3.48,-3.58,7.49,5.29,0.24,0.96
2644,2023-03-31,PSSap MySuper Balanced,Generic,Public Sector Superannuation Accumulation Plan,65127917725,Commonwealth Superannuation Corporation,Non public offer,Public Sector,3.5,4.4,...,0,0,0,0,2.79,0.66,8.21,5.82,0.17,0.46
2645,2023-03-31,Balanced,Generic,Rei Super,76641658449,Rei Superannuation Fund Pty Limited,Public offer,Industry,3,3,...,0,0,0,0,4.16,-0.4,8.68,4.86,0.25,0.67
2646,2023-03-31,REST Super,Generic,Retail Employees Superannuation Trust,62653671394,Retail Employees Superannuation Pty. Limited,Public offer,Industry,2.7,4.5,...,0,0,0,0,3.43,0.76,8.49,5.39,0.22,1.47
2648,2023-03-31,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,3.4,3.96,...,0,0,0,0,3.72,0.34,9.17,5.42,0.5,0.67

In [58]:
# Convert the 'Period' column to datetime
mysuper_fees['Period'] = pd.to_datetime(mysuper_fees['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
mysuper_fees_merged = pd.merge(quarterly, mysuper_fees, on=['Period', 'Fund name', 'Fund ABN', 'MySuper product name'], how='inner')

# Create a key column in both DataFrames for easier comparison
mysuper_fees['key'] = mysuper_fees['Period'].astype(str) + mysuper_fees['Fund name'].astype(str) + mysuper_fees['Fund ABN'].astype(str) + mysuper_fees['MySuper product name'].astype(str)
mysuper_fees_merged['key'] = mysuper_fees_merged['Period'].astype(str) + mysuper_fees_merged['Fund name'].astype(str) + mysuper_fees_merged['Fund ABN'].astype(str) + mysuper_fees_merged['MySuper product name'].astype(str)

# Identify non-merged funds
mysuper_fees_non_merged = mysuper_fees[~mysuper_fees['key'].isin(mysuper_fees_merged['key'])]

# Drop the key column as it's no longer needed
mysuper_fees.drop(columns=['key'], inplace=True)
mysuper_fees_merged.drop(columns=['key'], inplace=True)
mysuper_fees_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66897/893005805.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mysuper_fees_non_merged.drop(columns=['key'], inplace=True)

In [59]:
mysuper_fees_merged

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer,MySuper product type,Fund trustee,Fund public offer status,...,Switching fee per activity,Switching fees (% of activity),Switching fees cap,Exit fee per activity,Exit fees (% of activity),Exit fees cap,Other fees,Other fees charging basis,Other fees (% of member balance),Other fees cap
0,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,Tasplan Pty Ltd,Public offer,...,30.4,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-12-31,Virgin Money MySuper,Mercer Super Trust,19905422981,1,0,NaN,Material goodwill,Mercer Superannuation (Australia) Limited,Public offer,...,NaN,NaN,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-09-30,RT Growth (MySuper),equipsuper,33813823017,1,0,NaN,Large employer,Togethr Trustees Pty Ltd,Public offer,...,NaN,NaN,NaN,75,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-31,MySuper Lifecycle,Aware Super,53226460365,1,0,NaN,Generic,Aware Super Pty Ltd,Public offer,...,25,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,...,NaN,NaN,NaN,99.12,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,2022-09-30,Suncorp Lifestage Funds,SPSL Master Trust,98350952022,0,0,NaN,Generic,SPSL Limited,Public offer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not applicable,0.02,NaN
1204,2022-09-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Equity Trustees Superannuation Limited,Public offer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1205,2022-09-30,Balanced (MySuper),Spirit Super,74559365913,0,0,NaN,Generic,Motor Trades Association of Australia Superann...,Public offer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1206,2022-09-30,UniSuper Balanced,Unisuper,91385943850,0,0,NaN,Generic,Unisuper Limited,Public offer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1207,2022-09-30,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,Togethr Trustees Pty Ltd,Public offer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
mysuper_fees_non_merged

3,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Indirect cost ratio,Investment fees,...,Switching fee per activity,Switching fees (% of activity),Switching fees cap,Exit fee per activity,Exit fees (% of activity),Exit fees cap,Other fees,Other fees charging basis,Other fees (% of member balance),Other fees cap
0,2014-12-31,AMG MySuper,Generic,AMG Super,30099320583,Diversa Trustees Limited,Public offer,Retail,1.23,NaN,...,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-12-31,AMP MySuper No.1,Generic,AMP Retirement Trust,73310248809,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-12-31,AMP MySuper No.3,Generic,AMP Super Fund,78421957449,N. M. Superannuation Proprietary Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-12-31,AFLPA & AFL Industry MySuper,Large employer,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-12-31,AMP MySuper No.2,Generic,AMP Superannuation Savings Trust,76514770399,AMP Superannuation Limited,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3214,2022-10-01,Telstra Super MySuper,Generic,Telstra Superannuation Scheme,85502108833,Telstra Super Pty Ltd,Public offer,Corporate,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3215,2022-10-01,Bendigo MySuper,Generic,The Bendigo Superannuation Plan,57526653420,Bendigo Superannuation Pty Ltd,Public offer,Retail,0.54,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,2022-10-01,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,2022-10-01,UniSuper Balanced,Generic,Unisuper,91385943850,Unisuper Limited,Public offer,Industry,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,2022-10-01,Vanguard MySuper,Generic,Vanguard Super,27923449966,Vanguard Super Pty Ltd,Public offer,Retail,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not applicable,0.02,NaN

In [61]:
# Convert the 'Period' column to datetime
admin_fees['Period'] = pd.to_datetime(admin_fees['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
admin_fees_merged = pd.merge(quarterly, admin_fees, on=['Period', 'Fund name', 'Fund ABN', 'MySuper product name'], how='inner')

# Create a key column in both DataFrames for easier comparison
admin_fees['key'] = admin_fees['Period'].astype(str) + admin_fees['Fund name'].astype(str) + admin_fees['Fund ABN'].astype(str) + admin_fees['MySuper product name'].astype(str)
admin_fees_merged['key'] = admin_fees_merged['Period'].astype(str) + admin_fees_merged['Fund name'].astype(str) + admin_fees_merged['Fund ABN'].astype(str) + admin_fees_merged['MySuper product name'].astype(str)

# Identify non-merged funds
admin_fees_non_merged = admin_fees[~admin_fees['key'].isin(admin_fees_merged['key'])]

# Drop the key column as it's no longer needed
admin_fees.drop(columns=['key'], inplace=True)
admin_fees_merged.drop(columns=['key'], inplace=True)
admin_fees_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66897/3607804673.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admin_fees_non_merged.drop(columns=['key'], inplace=True)

In [62]:
admin_fees_merged

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer,MySuper product type,Fund trustee,Fund public offer status,Fund type,Administration fee level - Description,Administration fee level,Administration fee level - (% of member balance),Member accounts to which the fee level applies,Administration - Number of employer sponsors to which the fee level applies
0,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.05,3012,1
1,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.21,113,1
2,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.24,413,3
3,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.29,1566,2
4,2018-12-31,General Division,Russell Investments Master Trust,89384753567,1,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.32,125,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2259,2022-09-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Equity Trustees Superannuation Limited,Public offer,Retail,Asset admin fee,NaN,0.35,1169,2
2260,2022-09-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Equity Trustees Superannuation Limited,Public offer,Retail,Asset admin fee,NaN,0.25,8158,3
2261,2022-09-30,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,Togethr Trustees Pty Ltd,Public offer,Industry,Custom asset based administration fee - Dow,NaN,0.1,67,2
2262,2022-09-30,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,Togethr Trustees Pty Ltd,Public offer,Industry,Custom asset based administration fee - Dow Re...,NaN,0.15,456,38
2263,2022-09-30,Equipsuper MySuper,equipsuper,33813823017,0,0,NaN,Generic,Togethr Trustees Pty Ltd,Public offer,Industry,"Custom asset based administration fee - Elgas,...",NaN,0.15,2652,3

In [63]:
admin_fees_non_merged

2,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Administration fee level - Description,Administration fee level,Administration fee level - (% of member balance),Member accounts to which the fee level applies,Administration - Number of employer sponsors to which the fee level applies
0,2014-12-31,ANZ Staff MySuper,Generic,ANZ Australian Staff Superannuation Scheme,83810127567,ANZ Staff Superannuation (Australia) Pty. Limited,Non public offer,Corporate,Other Administration fee,NaN,0.1,12652,1
1,2014-12-31,Asgard Employee MySuper,Generic,ASGARD Independence Plan Division Two,90194410365,BT Funds Management Limited,Public offer,Retail,Admin Fee - Employer Discount - $0.00 pa 0.31%,NaN,0.31,4902,1
2,2014-12-31,Balanced (accumulation),Generic,Australian Ethical Retail Superannuation Fund,49633667743,Australian Ethical Superannuation Pty Ltd,Public offer,Retail,Larger Employer Discount,104.1,0.84,NaN,NaN
3,2014-12-31,Komatsu Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Administration fee,52,NaN,1168,3
4,2014-12-31,MySuper Default Option,Generic,BHP Billiton Superannuation Fund,30187082512,PFS Nominees Pty Ltd,Non public offer,Retail,Administration fee,26,0.07,11954,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9019,2022-10-01,GoalTracker,Generic,Russell Investments Master Trust,89384753567,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,78,0.23,77,1
9020,2022-10-01,GoalTracker,Generic,Russell Investments Master Trust,89384753567,Total Risk Management Pty Limited,Public offer,Retail,Administration fee,NaN,0.24,603,6
9021,2022-10-01,smartMonday Lifecycle,Generic,Smart Future Trust,68964712340,Equity Trustees Superannuation Limited,Public offer,Retail,Asset admin fee,NaN,0.45,5325,8
9022,2022-10-01,smartMonday Lifecycle,Generic,Smart Future Trust,68964712340,Equity Trustees Superannuation Limited,Public offer,Retail,Asset admin fee,NaN,0.35,1169,2
9023,2022-10-01,smartMonday Lifecycle,Generic,Smart Future Trust,68964712340,Equity Trustees Superannuation Limited,Public offer,Retail,Asset admin fee,NaN,0.25,8158,3

In [64]:
# Convert the 'Period' column to datetime
activity_fees['Period'] = pd.to_datetime(activity_fees['Period'])

# Merge the dataframe based on 'Period', 'Fund name', 'ABN', and 'MySuper Product Name'
activity_fees_merged = pd.merge(quarterly, activity_fees, on=['Period', 'Fund name', 'Fund ABN', 'MySuper product name'], how='inner')

# Create a key column in both DataFrames for easier comparison
activity_fees['key'] = activity_fees['Period'].astype(str) + activity_fees['Fund name'].astype(str) + activity_fees['Fund ABN'].astype(str) + activity_fees['MySuper product name'].astype(str)
activity_fees_merged['key'] = activity_fees_merged['Period'].astype(str) + activity_fees_merged['Fund name'].astype(str) + activity_fees_merged['Fund ABN'].astype(str) + activity_fees_merged['MySuper product name'].astype(str)

# Identify non-merged funds
activity_fees_non_merged = activity_fees[~activity_fees['key'].isin(activity_fees_merged['key'])]

# Drop the key column as it's no longer needed
activity_fees.drop(columns=['key'], inplace=True)
activity_fees_merged.drop(columns=['key'], inplace=True)
activity_fees_non_merged.drop(columns=['key'], inplace=True)

/var/folders/1p/89s8czgd3m7f_535cwnrk58c0000gn/T/ipykernel_66897/2429658065.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_fees_non_merged.drop(columns=['key'], inplace=True)

In [65]:
activity_fees_merged

,Period,MySuper product name,Fund name,Fund ABN,Merger,Merged,Acquirer,MySuper product type,Fund trustee,Fund public offer status,Fund type,Activity fee - Description,"Activity fee, financial product advice",Activity fee,Activity fee (% of member balance)
0,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,Tasplan Pty Ltd,Public offer,Industry,Contribution Splitting Fee,No,72.3,NaN
1,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,Tasplan Pty Ltd,Public offer,Industry,Family Law Information Application,No,56.7,NaN
2,2015-12-31,Tasplan MySuper,Tasplan Superannuation Fund,14602032302,1,0,NaN,Generic,Tasplan Pty Ltd,Public offer,Industry,Family Law Split,No,82.9,NaN
3,2016-12-31,Virgin Money MySuper,Mercer Super Trust,19905422981,1,0,NaN,Material goodwill,Mercer Superannuation (Australia) Limited,Public offer,Retail,Family Law Fee - Benefit Split,No,88,NaN
4,2016-12-31,Virgin Money MySuper,Mercer Super Trust,19905422981,1,0,NaN,Material goodwill,Mercer Superannuation (Australia) Limited,Public offer,Retail,Family Law Fee - Information Charge,No,110,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,2022-09-30,GoalTracker,Russell Investments Master Trust,89384753567,0,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,Fund Comparison and consolidation of super fun...,Yes,463.72,NaN
2314,2022-09-30,GoalTracker,Russell Investments Master Trust,89384753567,0,0,NaN,Generic,Total Risk Management Pty Limited,Public offer,Retail,General and simple personal advice,Yes,NaN,NaN
2315,2022-09-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Equity Trustees Superannuation Limited,Public offer,Retail,Family law - Benefit split,No,80,NaN
2316,2022-09-30,smartMonday Lifecycle,Smart Future Trust,68964712340,0,0,NaN,Generic,Equity Trustees Superannuation Limited,Public offer,Retail,Family law - Valuation,No,200,NaN
2317,2022-09-30,UniSuper Balanced,Unisuper,91385943850,0,0,NaN,Generic,Unisuper Limited,Public offer,Industry,"Switch fee, 1st switch free, 2nd and subsequen...",No,9.85,NaN

In [66]:
activity_fees_non_merged

2,Period,MySuper product name,MySuper product type,Fund name,Fund ABN,Fund trustee,Fund public offer status,Fund type,Activity fee - Description,"Activity fee, financial product advice",Activity fee,Activity fee (% of member balance)
6,2014-12-31,IBM Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Binding nomination fee,No,10,NaN
7,2014-12-31,IBM Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Contribution splitting fee,No,70,NaN
8,2014-12-31,IBM Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Family law information fee,No,50,NaN
9,2014-12-31,IBM Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Family law splitting fee,No,70,NaN
10,2014-12-31,Komatsu Super Plan MySuper,Large employer,AustralianSuper,65714394898,AustralianSuper Pty Ltd,Public offer,Industry,Binding nomination fee,No,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5179,2022-10-01,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,Family Law valuation fee,No,50,NaN
5180,2022-10-01,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,Family Law valuation fee,No,50,NaN
5181,2022-10-01,Balanced (MySuper),Generic,TWU Superannuation Fund,77343563307,T W U Nominees Pty Ltd,Public offer,Industry,Family Law valuation fee,No,55,NaN
5182,2022-10-01,UniSuper Balanced,Generic,Unisuper,91385943850,Unisuper Limited,Public offer,Industry,"Switch fee, 1st switch free, 2nd and subsequen...",No,9.85,NaN
5183,2022-10-01,Vanguard MySuper,Generic,Vanguard Super,27923449966,Vanguard Super Pty Ltd,Public offer,Retail,Buy-sell spread,No,NaN,0.1

**Saving Quarterly Data to Excel Spreadsheet**

In [67]:
%who DataFrame

activity_fees	 activity_fees_merged	 activity_fees_non_merged	 admin_fees	 admin_fees_merged	 admin_fees_non_merged	 aware_super_rows	 deduplicated_non_merged_rows	 fund_profile
fund_profile_merged	 fund_profile_non_merged	 investment_fees	 investment_performance	 investment_performance_merged	 investment_performance_non_merged	 merged_rows	 merger_list	 mysuper_fees
mysuper_fees_merged	 mysuper_fees_non_merged	 non_merged_rows	 quarterly	 sorted_non_merged_rows

In [68]:
import xlsxwriter

In [69]:
# Create an Excel writer object using XlsxWriter engine
with pd.ExcelWriter('Quarterly_information.xlsx', engine='xlsxwriter') as excel_writer:
    # Save each dataframe as a separate sheet
    
    fund_profile.to_excel(excel_writer, sheet_name='fund_profile', index=False)
    fund_profile_merged.to_excel(excel_writer, sheet_name='fund_profile_merged', index=False)
    fund_profile_non_merged.to_excel(excel_writer, sheet_name='fund_profile_non_merged', index=False)
    investment_performance.to_excel(excel_writer, sheet_name='investment_performance', index=False)
    investment_performance_merged.to_excel(excel_writer, sheet_name='investment_performance_merged', index=False)
    investment_performance_non_merged.to_excel(excel_writer, sheet_name='investment_non_merged', index=False)
    mysuper_fees.to_excel(excel_writer, sheet_name='mysuper_fees', index=False)
    mysuper_fees_merged.to_excel(excel_writer, sheet_name='mysuper_fees_merged', index=False)
    mysuper_fees_non_merged.to_excel(excel_writer, sheet_name='mysuper_fees_non_merged', index=False)
    admin_fees.to_excel(excel_writer, sheet_name='admin_fees', index=False)
    admin_fees_merged.to_excel(excel_writer, sheet_name='admin_fees_merged', index=False)
    admin_fees_non_merged.to_excel(excel_writer, sheet_name='admin_fees_non_merged', index=False)
    activity_fees.to_excel(excel_writer, sheet_name='activity_fees', index=False)
    activity_fees_merged.to_excel(excel_writer, sheet_name='activity_fees_merged', index=False)
    activity_fees_non_merged.to_excel(excel_writer, sheet_name='activity_fees_non_merged', index=False)

Confirming all data is clean

In [71]:
import pandas as pd

# List of DataFrame names and the actual DataFrames
dataframes = {
    'fund_profile': fund_profile,
    'fund_profile_merged': fund_profile_merged,
    'fund_profile_non_merged': fund_profile_non_merged,
    'investment_performance': investment_performance,
    'investment_performance_merged': investment_performance_merged,
    'investment_performance_non_merged': investment_performance_non_merged,
    'mysuper_fees': mysuper_fees,
    'mysuper_fees_merged': mysuper_fees_merged,
    'mysuper_fees_non_merged': mysuper_fees_non_merged,
    'admin_fees': admin_fees,
    'admin_fees_merged': admin_fees_merged,
    'admin_fees_non_merged': admin_fees_non_merged,
    'activity_fees': activity_fees,
    'activity_fees_merged': activity_fees_merged,
    'activity_fees_non_merged': activity_fees_non_merged
}

# Create a master list of periods (you can customize this based on your specific needs)
master_periods = set()  # Initialize an empty set to store unique periods
for df_name, df in dataframes.items():
    if 'Period' in df.columns:
        master_periods.update(df['Period'].dt.strftime('%Y-%m-%d').unique())  # Add unique periods from each DataFrame to the master set

# Check for missing periods in each DataFrame
for df_name, df in dataframes.items():
    if 'Period' in df.columns:
        df_periods = set(df['Period'].dt.strftime('%Y-%m-%d').unique())
        missing_periods = master_periods - df_periods  # Find periods that are in the master list but not in the current DataFrame
        if missing_periods:
            print(f"Missing periods in {df_name}: {sorted(list(missing_periods))}")
        print('-' * 50)

Missing periods in fund_profile: ['2022-10-01']
--------------------------------------------------
Missing periods in fund_profile_merged: ['2022-10-01']
--------------------------------------------------
Missing periods in fund_profile_non_merged: ['2022-10-01']
--------------------------------------------------
Missing periods in investment_performance: ['2022-10-01']
--------------------------------------------------
Missing periods in investment_performance_merged: ['2022-10-01']
--------------------------------------------------
Missing periods in investment_performance_non_merged: ['2022-10-01']
--------------------------------------------------
Missing periods in mysuper_fees: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in mysuper_fees_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-10-01', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in mysuper_fees_non_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in admin_fees: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in admin_fees_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-10-01', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in admin_fees_non_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in activity_fees: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in activity_fees_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-10-01', '2022-12-31', '2023-03-31']
--------------------------------------------------
Missing periods in activity_fees_non_merged: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------

In [72]:
from pandas.tseries.offsets import QuarterEnd

# Assuming 'quarterly' DataFrame exists and 'Period' is already in datetime format
# If not, convert it: quarterly['Period'] = pd.to_datetime(quarterly['Period'])

# Generate all expected periods within the date range
start_date = '2013-09-30'
end_date = '2023-06-30'
all_periods = pd.date_range(start_date, end_date, freq='Q')
all_periods_str = set(all_periods.strftime('%Y-%m-%d'))

# Loop through each unique 'Fund name' to check for missing periods
for fund_name in quarterly['Fund name'].unique():
    fund_data = quarterly[quarterly['Fund name'] == fund_name]
    fund_periods = set(fund_data['Period'].dt.strftime('%Y-%m-%d').unique())
    
    missing_periods = all_periods_str - fund_periods
    if missing_periods:
        print(f"Missing periods for {fund_name}: {sorted(list(missing_periods))}")
    print('-' * 50)

--------------------------------------------------
Missing periods for Tasplan Superannuation Fund: ['2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Mercer Super Trust: ['2013-09-30']
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
Missing periods for Russell Investments Master Trust: ['2013-09-30', '2023-06-30']
--------------------------------------------------
--------------------------------------------------
Missing periods for Sunsuper Superannuation Fund: ['2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
--------------------------------------------------
Missing periods for Retirement Portfolio Service: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31']
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
Missing periods for Australian Catholic Superannuation and Retirement Fund: ['2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Austsafe Superannuation Fund: ['2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Boc Gases Superannuation Fund: ['2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Club Plus Superannuation Scheme: ['2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Club Super: ['2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Energy Super: ['2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Health Industry Plan: ['2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for IAG & NRMA Superannuation Plan: ['2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Intrust Super Fund: ['2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Labour Union Co-Operative Retirement Fund: ['2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Media Super: ['2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Nationwide Superannuation Fund: ['2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for OnePath Masterfund: ['2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Quadrant Superannuation Scheme: ['2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Queensland Independent Education & Care Superannuation Trust: ['2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Retirement Wrap: ['2023-06-30']
--------------------------------------------------
Missing periods for SPSL Master Trust: ['2023-06-30']
--------------------------------------------------
Missing periods for Statewide Superannuation Trust: ['2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Victorian Superannuation Fund: ['2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Virgin Superannuation: ['2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for WA Local Government Superannuation Plan: ['2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Concept One The Industry Superannuation Fund: ['2013-09-30', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Rio Tinto Staff Superannuation Fund: ['2013-09-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for The Executive Superannuation Fund: ['2013-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for The Victorian Independent Schools Superannuation Fund: ['2013-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Toyota Super: ['2013-09-30', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for Australia Post Superannuation Scheme: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31', '2023-06-30']
--------------------------------------------------
Missing periods for MLC Super Fund: ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30', '2016-12-31', '2017-03-31', '2017-06-30', '2017-09-30', '2017-12-31', '2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31', '2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31', '2020-03-31', '2020-06-30', '2020-09-30', '2020-12-31', '2021-03-31', '2021-06-30', '2021-09-30', '2021-12-31', '2022-03-31', '2022-06-30', '2022-09-30', '2022-12-31', '2023-03-31']
--------------------------------------------------

In [43]:
# Check if the quarterly DataFrame has entries for the missing periods
missing_periods = ['2013-09-30', '2013-12-31', '2014-03-31', '2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31', '2016-06-30', '2016-09-30']
missing_periods = pd.to_datetime(missing_periods)

for period in missing_periods:
    if period not in quarterly['Period'].values:
        print(f"Period {period} is missing in the quarterly DataFrame.")

In [58]:
print(fund_profile['Fund name'].unique())
print(quarterly['Fund name'].unique())

['AMP Retirement Trust' 'AMP Super Fund'
 'AMP Superannuation Savings Trust'
 'ASGARD Independence Plan Division Two'
 'Australian Catholic Superannuation and Retirement Fund'
 'Australian Ethical Retail Superannuation Fund'
 'Australian Meat Industry Superannuation Trust'
 'Australian Retirement Trust' 'AustralianSuper'
 'Austsafe Superannuation Fund' 'AvSuper Fund' 'Aware Super'
 'BHP Billiton Superannuation Fund' 'Boc Gases Superannuation Fund'
 'Building Unions Superannuation Scheme (Queensland)' 'Care Super'
 'Christian Super' 'Club Plus Superannuation Scheme' 'Club Super'
 'Colonial First State FirstChoice Superannuation Trust'
 'Combined Super Fund' 'Commonwealth Bank Group Super'
 'Commonwealth Essential Super'
 'CONSTRUCTION AND BUILDING UNIONS SUPERANNUATION FUND'
 'Energy Industries Superannuation Scheme-Pool A' 'Energy Super'
 'equipsuper' 'First Super' 'Guild Retirement Fund' 'Health Industry Plan'
 'HESTA' 'HOSTPLUS Superannuation Fund' 'IAG & NRMA Superannuation Plan'
 'Intrust Super Fund' 'IOOF Portfolio Service Superannuation Fund'
 'Kinetic Superannuation Fund' 'Labour Union Co-Operative Retirement Fund'
 'legalsuper' 'LGIAsuper'
 'Local Government Superannuation Scheme - Pool A' 'Maritime Super'
 'Media Super' 'Mine Superannuation Fund'
 'MyLifeMyMoney Superannuation Fund'
 'National Australia Bank Group Superannuation Fund A'
 'Nationwide Superannuation Fund' 'NESS Super' 'NGS Super'
 'OnePath Masterfund' 'OneSuper' 'Plum Superannuation Fund' 'Prime Super'
 'Public Sector Superannuation Accumulation Plan'
 'Qantas Superannuation Plan' 'Quadrant Superannuation Scheme'
 'Queensland Independent Education & Care Superannuation Trust'
 'Rei Super' 'Retail Employees Superannuation Trust' 'Retirement Wrap'
 'Smart Future Trust' 'Spirit Super' 'SPSL Master Trust'
 'Statewide Superannuation Trust' 'Sunsuper Superannuation Fund'
 'Tasplan Superannuation Fund' 'The Bendigo Superannuation Plan'
 'The Universal Super Scheme' 'TWU Superannuation Fund' 'Unisuper'
 'Victorian Superannuation Fund' 'Virgin Superannuation'
 'WA Local Government Superannuation Plan'
 'Westpac Mastertrust - Superannuation Division'
 'Worsley Alumina Superannuation Fund' 'AMG Super'
 'ANZ Australian Staff Superannuation Scheme'
 'Betros Bros Superannuation Fund No 2'
 'Concept One The Industry Superannuation Fund'
 'DuluxGroup Employees Superannuation Fund'
 'Elphinstone Group Superannuation Fund' 'EmPlus Superannuation Fund'
 'EquitySuper' 'Goldman Sachs & JBWere Superannuation Fund'
 'Incitec Pivot Employees Superannuation Fund' 'LESF Super'
 'Local Authorities Superannuation Fund' 'Lutheran Super'
 'Meat Industry Employees Superannuation Fund' 'Mercer Super Trust'
 'Mercy Super' "Perpetual's Select Superannuation Fund"
 'Rio Tinto Staff Superannuation Fund' 'Russell Investments Master Trust'
 'Telstra Superannuation Scheme' 'The Executive Superannuation Fund'
 'The Flexible Benefits Super Fund'
 'The Transport Industry Superannuation Fund'
 'The Victorian Independent Schools Superannuation Fund'
 'Toyota Australia Superannuation Plan' 'Toyota Super'
 'United Technologies Corporation Retirement Plan'
 'Water Corporation Superannuation Plan' 'Max Super Fund'
 'Pitcher Retirement Plan'
 'Australian Defence Force Superannuation Scheme' 'Local Government Super'
 'MLC Super Fund' 'Australia Post Superannuation Scheme'
 'CBH Superannuation Fund' 'Retirement Portfolio Service' 'Vanguard Super']
['Prime Super' 'Australian Retirement Trust' 'Mercer Super Trust'
 'LGIAsuper' 'Unisuper' 'AustralianSuper' 'HOSTPLUS Superannuation Fund'
 'Aware Super' 'equipsuper'
 'CONSTRUCTION AND BUILDING UNIONS SUPERANNUATION FUND'
 'Tasplan Superannuation Fund' 'Smart Future Trust'
 'Retirement Portfolio Service' 'Russell Investments Master Trust'
 'Sunsuper Superannuation Fund' 'Spirit Super' 'NGS Super'
 'The Victorian Independent Schools Superannuation Fund'
 'Australia Post Superannuation Scheme' 'Boc Gases Superannuation Fund'
 'Intrust Super Fund' 'Club Plus Superannuation Scheme' 'Energy Super'
 'Media Super' 'Toyota Super' 'SPSL Master Trust' 'Retirement Wrap'
 'Australian Catholic Superannuation and Retirement Fund' 'MLC Super Fund'
 'Statewide Superannuation Trust'
 'Labour Union Co-Operative Retirement Fund'
 'WA Local Government Superannuation Plan' 'OnePath Masterfund'
 'The Executive Superannuation Fund'
 'Concept One The Industry Superannuation Fund'
 'Nationwide Superannuation Fund'
 'Queensland Independent Education & Care Superannuation Trust'
 'Quadrant Superannuation Scheme' 'Virgin Superannuation'
 'Health Industry Plan' 'Rio Tinto Staff Superannuation Fund'
 'Victorian Superannuation Fund' 'Club Super'
 'Austsafe Superannuation Fund' 'IAG & NRMA Superannuation Plan']